.item-subtitle{
    margin: 20px 0;
}

.item{
    position: relative;

    background: $white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
    display: block;

    padding: 16px 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    .item__title{
        color: $black;
        font-size: 14px;
        line-height: 1.2;
        font-weight: bold;
        margin-bottom: 6px;

        transition: .4s;
    }
    .item__introtext{
        color: $dark-grey;
    }
    .item__category{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: $blue2;
        
        &:before{
            content: '#';
            font-size: 10px;
            font-weight: 600;
            padding-right: 2px;
            color: $blue2;
        }
    }
    .item__data{
        // display: none;

        color: $grey;
        margin-top: 12px;
    }

    &_image{
        position: relative;
        padding: 10px;
        padding-left: 110px;
        min-height: 100px;
        margin: 0 0 20px;
        .item__image{
            position: absolute;
            top: 10px;
            left: 10px;

            background: url("../img/image.jpg") no-repeat center / cover;
            width: 80px;
            height: 80px;
        }
    }
    &_image-full{
        position: relative;
        padding: 20px;
        padding-top: 180px;
        margin: 0 0 20px;
        .item__image{
            position: absolute;
            top: 0px;
            left: 0px;

            background: url("../img/image.jpg") no-repeat center / cover;
            width: 100%;
            height: 160px;
        }
    }

    &_collapse{
        padding: 16px;

        .item__title{
            position: relative;
            margin: 0;
            padding-right: 40px;
            &:after{
                content: '';
                display: block;
                width: 30px;
                height: 30px;

                position: absolute;
                top: calc(50% - 15px);
                right: 0;
                
                transition: .4s;

                background: url("../img/arrow-down.svg") no-repeat center / contain;
            }
        }
        .item__content{
            display: none;
            padding-top: 16px;
        }

        &--active{
            .item__title{
                &:after{
                    transform: rotate(-180deg);
                }
            }
        }

        &:hover{
            cursor: pointer;
        }
    }
}

a.item{
    &:hover{
        text-decoration: none;
        .item__title{
            color: $red;
        }
    }
}

.item-columns {
    column-count: 1;
    column-gap: 30px;
    orphans: 1;
    widows: 1;
    .item{
        display: inline-block;
        width: 100%;
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .item{
        .item__data{
            display: block;
        }
    }
    .item-columns {
        column-count: 2;
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    .item{
        .item__title{
            font-size: 16px;
        }
        &_image{
            padding: 20px;
            padding-left: 120px;
            min-height: 120px;
            .item__image {
                top: 20px;
                left: 20px;
            }
            .item__title{
                margin-bottom: 12px;
            }
        }
        &_collapse {
            padding: 26px;
        }
    }
    .item-columns {
        padding: 40px 0 20px;
        column-count: 2;
        .item{
            margin-bottom: 30px;
        }
    }
    .wrap-fluid{
        .item-columns {
            column-count: 3;
        }
    }
}