.navigation{
    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    overflow-x: auto;
    padding: 20px 0;

    .navigation__item{
        display: flex;
        flex-direction: column;
    }

    &.btn-group{
        padding: 12px 0px;
        .input{
            min-width: 150px;
            width: calc(100% - 12px);
            margin: 0 6px;
        }
        .select2-container{
            margin: 0 6px;
        }
        .wanter-label{
            margin: 0 6px 6px 6px;
        }
    }
    
    .input{
        border: 1px solid #C4C4C4;
        border-radius: 4px;
        height: 30px;
        padding: 0 8px;
    }
    .btn{
        font-size: 12px;
        white-space: nowrap;
    }
}

.navigation-scroll{
    overflow-x: hidden;
    max-width: 100%;
    // padding: 0 20px;
    margin-bottom: 10px;

    background: $white;
    border-bottom: 1px solid $border-color;
}
