.navigation{
    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    overflow-x: auto;
    padding: 20px 0;

    .btn{
        white-space: nowrap;
    }
}

.navigation-scroll{
    overflow-x: hidden;
    max-width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;

    background: $white;
    border-bottom: 1px solid $grey;

    .container{
        // padding: 0;
    }
}
