.request-inside{
    padding: 20px 0;
    margin: 20px 0;

    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}
.request-tabs{
    .nav{
        .nav__link {
            font-size: 16px;
        }
    }
}
.request-info{

}
