footer.footer
    .wrap
        .line
            .column-6.column-sm-3.mb-30.mb-sm-0
                a.footer__logo(href="/")
                p.text-small.mt-15.mb-0 2019. Все права защищены
            .column-6.column-sm-3
                ul.list
                    li.list__item
                        a.footer__link(href="page-request.html") Заявки
                    li.list__item
                        a.footer__link(href="faq.html") Популярные вопросы      
                    li.list__item
                        a.footer__link(href="blog.html") Блог
            .column-6.column-sm-3
                ul.list
                    li.list__item
                        a.footer__link(href="cabinet.html") Личный кабинет
                    li.list__item
                        a.footer__link(href="text.html") О проекте
                    li.list__item
                        a.footer__link(href="text.html") Правила проекта
            .column-6.column-sm-3
                ul.list
                    li.list__item
                        a.footer__link(href="#") mail@elzzup.org
                ul.list.list_inline
                    li.list__item
                        a.list__link(href="#")
                            <svg class="icon-svg" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V14H14V0H0ZM10.4953 7.74545C10.8167 8.05898 11.1566 8.35419 11.445 8.7008C11.5725 8.85397 11.693 9.01197 11.7849 9.18945C11.9153 9.44372 11.7971 9.72231 11.57 9.73766L10.1584 9.73705C9.79409 9.76698 9.50375 9.62009 9.25889 9.37083C9.06418 9.17237 8.88218 8.95994 8.69422 8.75474C8.61772 8.67025 8.53683 8.59123 8.44071 8.52822C8.24788 8.40326 8.08062 8.4412 7.9704 8.64203C7.85831 8.84661 7.83197 9.07375 7.82163 9.30157C7.80628 9.63409 7.70594 9.72108 7.37218 9.73708C6.65809 9.77015 5.98086 9.66166 5.35191 9.30219C4.79646 8.98505 4.36662 8.53668 3.9924 8.02969C3.26311 7.04126 2.70455 5.95612 2.20305 4.83975C2.08969 4.58815 2.17249 4.45332 2.44917 4.44846C2.9104 4.43935 3.37145 4.44046 3.83203 4.44785C4.01938 4.45098 4.14369 4.55806 4.21535 4.73505C4.46462 5.34754 4.76951 5.93043 5.15222 6.47126C5.25458 6.61517 5.35868 6.75846 5.50618 6.86006C5.66969 6.97277 5.79465 6.93594 5.87175 6.75283C5.92083 6.63652 5.94231 6.51283 5.95265 6.38849C5.98932 5.96286 5.99372 5.53677 5.93055 5.1124C5.89135 4.84714 5.74135 4.67563 5.47686 4.62548C5.34203 4.59975 5.36225 4.55022 5.42717 4.47292C5.54114 4.34015 5.64837 4.25735 5.8608 4.25735H7.45609C7.70769 4.30643 7.76412 4.41975 7.79831 4.67265L7.79957 6.44554C7.79658 6.54351 7.84865 6.83369 8.02437 6.89797C8.16514 6.94452 8.25889 6.83117 8.34338 6.74182C8.72545 6.3364 8.99806 5.85702 9.24166 5.36098C9.34951 5.14292 9.44265 4.9164 9.53326 4.68969C9.60003 4.52194 9.70412 4.43932 9.89335 4.44231L11.4292 4.44418C11.4745 4.44418 11.5211 4.44418 11.5658 4.45154C11.8241 4.49622 11.8952 4.60769 11.8149 4.86055C11.6895 5.25671 11.4438 5.58748 11.2044 5.91874C10.9478 6.27335 10.6747 6.61557 10.42 6.97206C10.1873 7.29849 10.2056 7.46262 10.4953 7.74545Z" />
                                </g>
                            </svg>
                    li.list__item
                        a.list__link(href="#")
                            <svg class="icon-svg" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V14H14V0H0ZM10.4953 7.74545C10.8167 8.05898 11.1566 8.35419 11.445 8.7008C11.5725 8.85397 11.693 9.01197 11.7849 9.18945C11.9153 9.44372 11.7971 9.72231 11.57 9.73766L10.1584 9.73705C9.79409 9.76698 9.50375 9.62009 9.25889 9.37083C9.06418 9.17237 8.88218 8.95994 8.69422 8.75474C8.61772 8.67025 8.53683 8.59123 8.44071 8.52822C8.24788 8.40326 8.08062 8.4412 7.9704 8.64203C7.85831 8.84661 7.83197 9.07375 7.82163 9.30157C7.80628 9.63409 7.70594 9.72108 7.37218 9.73708C6.65809 9.77015 5.98086 9.66166 5.35191 9.30219C4.79646 8.98505 4.36662 8.53668 3.9924 8.02969C3.26311 7.04126 2.70455 5.95612 2.20305 4.83975C2.08969 4.58815 2.17249 4.45332 2.44917 4.44846C2.9104 4.43935 3.37145 4.44046 3.83203 4.44785C4.01938 4.45098 4.14369 4.55806 4.21535 4.73505C4.46462 5.34754 4.76951 5.93043 5.15222 6.47126C5.25458 6.61517 5.35868 6.75846 5.50618 6.86006C5.66969 6.97277 5.79465 6.93594 5.87175 6.75283C5.92083 6.63652 5.94231 6.51283 5.95265 6.38849C5.98932 5.96286 5.99372 5.53677 5.93055 5.1124C5.89135 4.84714 5.74135 4.67563 5.47686 4.62548C5.34203 4.59975 5.36225 4.55022 5.42717 4.47292C5.54114 4.34015 5.64837 4.25735 5.8608 4.25735H7.45609C7.70769 4.30643 7.76412 4.41975 7.79831 4.67265L7.79957 6.44554C7.79658 6.54351 7.84865 6.83369 8.02437 6.89797C8.16514 6.94452 8.25889 6.83117 8.34338 6.74182C8.72545 6.3364 8.99806 5.85702 9.24166 5.36098C9.34951 5.14292 9.44265 4.9164 9.53326 4.68969C9.60003 4.52194 9.70412 4.43932 9.89335 4.44231L11.4292 4.44418C11.4745 4.44418 11.5211 4.44418 11.5658 4.45154C11.8241 4.49622 11.8952 4.60769 11.8149 4.86055C11.6895 5.25671 11.4438 5.58748 11.2044 5.91874C10.9478 6.27335 10.6747 6.61557 10.42 6.97206C10.1873 7.29849 10.2056 7.46262 10.4953 7.74545Z" />
                                </g>
                            </svg>

                