.header-block{
    padding: 40px 0;
    color: $white;

    .header-block__subtitle{
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.2em;

        color: $blue;
    }
    .header-block__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        text-align: center;

        position: relative;
        z-index: 11;
    }
    .header-block__content{
        position: relative;
        z-index: 11;        
    }

    a:not(.btn){
        color: $white;
        &:hover{
            color: $blue;
        }
    }

    .btn-group{
        .btn{
            width: 100%;
            padding: 12px 16px;
            & + .btn {
                margin-top: 10px;
            }
        }
    }

    &_bg{
        background: $black url("../img/bg-demo.jpg") no-repeat center / cover;
        position: relative;
        
        &:before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            display: block;

            background: rgba(0,0,0,0.5);
        }
    }
    &_form{
        min-height: 100vh;
        
        display: flex;
        align-items: center;
        
        background: linear-gradient(0deg, #00F3D4 0%, #02A5AE 100%);
        a:not(.btn){
            &:hover{
                color: $white;
            }
        }
        .logo{
            width: 150px;
        }
    }
    &_poll{
        background: linear-gradient(0deg, #00F3D4 0%, #02A5AE 100%);
        a:not(.btn){
            &:hover{
                color: $white;
            }
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'sm')){
    .header-block{
        .btn-group{
            .btn{
                width: auto;
                & + .btn{
                    margin-top: 0;
                }
            }
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'lg')){
    .header-block{
        padding: 80px 0;
        .header-block__subtitle{
            font-size: 12px;
            line-height: 14px;
        }
        .header-block__title{
            font-size: 42px;
            line-height: 44px;
        }
        &_poll{
            padding: 40px 0;
        }
    }
}