.btn{
    border: none;
    outline: none;
    background: none;

    text-align: center;
    
    border-radius: 4px;
    padding: 8px 14px 9px;
    line-height: 1;

    transition: .4s;

    &:hover, &:focus{
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }
    // Other
    &_primary{
        background: $blue;
        color: $dark-grey;

        &:hover{
            background: darken($color: $blue, $amount: 5%);
            color: $dark-grey;
        }
    }
    &_cta{
        background: $red;
        color: $white;

        &:hover{
            background: darken($color: $red, $amount: 5%);
            color: $white;
        }
    }
    &_border{
        color: #969696;
        border: 1px solid #C4C4C4;
        border-radius: 4px;
        &:hover{
            color: $dark-grey;
            background: $white;
        }
        &--active{
            color: $black;
            background: $blue;
            border-color: $blue;
            font-weight: bold;
            &:hover{
                color: $black;
                background: lighten($color: $blue, $amount: 5%);
            }
        }
        &.active{
            @extend .btn_border--active;
        }
    }
    &_white{
        background: $white;
        color: $dark-grey;

        &:hover{
            background: $light-blue;
            color: $blue3;
        }
    }
    &_dark{
        background: $dark-grey;
        color: $white;

        &:hover{
            background: $dark-blue;
            color: $white;
        }
    }
    &_alert{
        background: $gold;
        color: $white;

        &:hover{
            background: $gold-hover;
            color: $white;
        }
    }
    &_info{
        background: $blue2;
        color: $white;

        &:hover{
            background: darken($blue2, 5%);
            color: $white;
        }
    }
    &_danger{
        font-weight: bold;
        color: $red;
        border: 1px solid $red;
        border-radius: 4px;
        &:hover{
            color: $red;
            background: $white;
        }
    }   

    // Specials
    &_request{
        background: linear-gradient(0deg, $blue 0%, $blue2 100%);
        color: $white;

        &:hover{
            color: $light-blue;
        }
    }
    &_modal-info{
        font-size: 10px;
        background: $dark-grey;
        color: $white;
        padding: 8px 10px 7px!important;
        text-transform: uppercase;

        &:hover{
            color: $white;
            background: $black;
        }
    }
    &_message{
        padding: 0;
        width: 30px;
        height: 30px;
        background: url("../img/redo-variant.svg") no-repeat center/contain;
        &:hover{
            background: $light-grey url("../img/redo-variant.svg") no-repeat center/contain;
        }
    }
    &_search{
        border-radius: 50%;
        padding: 0;
        width: 30px;
        height: 30px;
        background: url("../img/search.svg") no-repeat center/16px;
        &:hover{
            background: $light-grey url("../img/search.svg") no-repeat center/16px;
        }
    }

    // Style
    &.btn_fullwidth{
        width: 100%;
        padding: 10px 20px;

        & + .btn_fullwidth{
            margin-top: 10px;
        }
    }
    &.btn_large{
        padding: 14px 26px 15px;
    }

    // Bootstrap Button
    &-primary{@extend .btn_primary;}
    &-secondary{@extend .btn_border;}
    &-success{@extend .btn_cta;}
    &-danger{@extend .btn_danger;}
    &-warning{@extend .btn_alert;}
    &-info{@extend .btn_info;}
    &-light{@extend .btn_white;}
    &-dark{@extend .btn_dark;}
}
.btn-in-group{
    @extend .line;
    margin-left: - 6px;
    margin-right: - 6px;

    .btn{
        width: 100%;
        margin: 0 6px;

        & + .btn{
            margin-top: 10px;
        }
    }
    &.navigation{
        .btn + .btn{
            margin-top: 0px;
        }   
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'sm')){
    .btn-in-group{
        .btn{
            width: auto;
            & + .btn{
                margin-top: 0;
            }
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .btn{
        &_cta{
            padding: 8px 16px 9px;
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    .btn{
        border-radius: 6px;
        padding: 8px 16px 9px;

        &_cabinet-create{
            position: unset;
            border-radius: 0px;
            padding: 20px;
        }
        &_search{
            border-radius: 50%;
            padding: 0;
        }

        &_large-xl{
            padding: 14px 26px 15px;
        }
    }
}