.btn{
    border: none;
    outline: none;
    background: none;
    padding: 6px 10px 4px;
    transition: .4s;

    &:hover{
        text-decoration: none;
    }

    &_border{
        color: #969696;
        border: 1px solid #C4C4C4;
        border-radius: 4px;
        &:hover{
            background: $body-bg;
        }
        &--active{
            color: $white;
            background: $blue;
            &:hover{
                color: $white;
                background: darken($color: $blue, $amount: 5%);
            }
        }
    }
    &_message{
        padding: 0;
        width: 30px;
        height: 30px;
        background: url("../img/redo-variant.svg") no-repeat center/contain;
        &:hover{
            background: $light-blue url("../img/redo-variant.svg") no-repeat center/contain;
        }
    }
    &_cta{
        background: $red;
        color: $white;

        &:hover{
            background: darken($color: $red, $amount: 5%);
        }
    }

    &_cabinet-create{
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        padding: 12px 15px;

        position: fixed;
        bottom: 50px;
        left: 0;
    }
}

.btn-group{
    @extend .row;
    @extend .no-gutters;

    .btn{
        margin: 0 6px;
    }
}