.btn{
    border: none;
    outline: none;
    background: none;
    transition: .4s;

    &_border{
        color: #969696;
        border: 1px solid #C4C4C4;
        border-radius: 4px;
        padding: 6px 10px;
        &:hover{
            background: $body-bg;
        }
    }

    &_message{
        padding: 0;
        width: 30px;
        height: 30px;
        background: url("../img/redo-variant.svg") no-repeat center/contain;
        &:hover{
            background: $light-blue url("../img/redo-variant.svg") no-repeat center/contain;
        }
    }
}