.footer{
    background: #1d1d20;
    color: $white;

    padding: 20px 0;

    .text-small{
        font-size: 10px;
    }
    .list{
        // justify-content: flex-end;
        .list__item{
            & + .list__item{
                margin-top: 6px;
            }
        }
        .list__link{
            &:hover{
                .icon-svg{
                    path{
                        fill: $white;
                    }
                }
            }
        }
        .icon-svg{
            width: 20px;
            height: 20px;
            path{
                fill: $grey;
                transition: .4s;
            }
        }

        &.list_inline{
            .list__item{
                margin-right: 10px;
                & + .list__item{
                    margin-top: 0px;
                }
            }
        }

        & + .list{
            margin-top: 6px;
        }
    }
    .footer__logo{
        display: block;

        width: 100px;
        height: 42px;
        background: url("../img/logo-text-white.svg") no-repeat left 6px / contain;

        // margin-bottom: 10px;
    }
    .footer__link{
        line-height: 1.2;
        color: $grey;
        &:hover{
            color: $white;
        }
    }
}