.form{
    position: relative;

    margin: 0;
    padding: 0;
    
    .form-input{
        .form-input__date{
            position: relative;
            padding-left: 70px;
            &:before{
                position: absolute;
                left: 20px;
                top: calc(50% - 20px);

                content:'';
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background: $body-bg url("../img/calendar.svg") no-repeat center / 20px;
            }
        }
        .form-input__place{
            position: relative;
            padding-left: 70px;
            &:before{
                position: absolute;
                left: 20px;
                top: calc(50% - 20px);

                content:'';
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background: $body-bg url("../img/map-marker.svg") no-repeat center / 20px;
            }
        }
    }
    .form-label{
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form-group{
        &_first{
            .form-label{
                margin-top: 0px;
            }
        }

        & + .form-group{
            margin-top: 20px;
        }
    }

    .btn + .checkbox{
        margin-top: 10px;
    }

    &_cabinet-create{
        // padding: 0 0 44px;
        .form-group{
            & + .form-group{
                margin-top: 0;
                border-top: 1px solid $grey;
            }
            
            .form-input{
                background: $white;
            }
            .radio-group{
                padding: 10px 20px 0;
            }
            .input,
            .textarea{
                padding: 20px;
            }
            .input_place,
            .input_date{
                padding: 26px 10px;
            }
        }
        .btn{
            border-radius: 0px;
        }
    }
    &_user{
        background: $dark-grey;
        color: $white;
        border: 1px solid $border-color;
        padding: 20px;

        .checkbox{
            .checkbox__link{
                color: $white;
                &:hover{
                    color: $blue;
                }
            }
        }
    }
}
.input{
    width: 100%;
    border: none;
    margin: 0;
    padding: 10px;
    outline: none;
    &:focus{
        &::placeholder{
            opacity: 0;
        }
    }
    &.input_place,
    &.input_date{
        padding: 20px 10px;
        &::placeholder{
            font-size: 10px;
        }
    }
}
.textarea{
    width: 100%;
    border: none;
    margin: 0;
    padding: 10px;
    outline: none;
    &_message{
        padding: 20px;
    }

    &:focus{
        &::placeholder{
            opacity: 0;
        }
    }
}
.checkbox{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &__input{
        display: none;

        &:checked + .checkbox__label:after {
            content: '';
            display: block;
            background-color: $blue;

            width: 5px;
            height: 6px;

            position: absolute;
            left: 4px;
            top: 3px;
        }
    }
    &__label{
        position: relative;
        margin: 0;
        padding-left: 28px;
        line-height: 12px;

        cursor: pointer;

        &:before{
            content:'';
            display: block;

            border: 1px solid $border-color;
            background: $white;

            width: 13px;
            height: 13px;

            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &__link{
        text-decoration: underline;
    }
}
.radio{
    &__input{
        display: none;

        &:checked + .radio__label {
            background-color: $black;
            color: $white;
        }
    }
    &__label{
        @extend .btn;
        @extend .btn_border;
        cursor: pointer;
    }
}
.radio-group{
    display: flex;
    flex-wrap: wrap;
    .radio{
        margin-right: 10px;
    }
}

.jGrowl {
    font-family: "Noto Sans"
}
.jGrowl#jGrowl {
    top: 50%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;

    .jGrowl-notification {
        width: 320px;
        padding: 40px 20px;
        border: 1px solid $light-grey;
        border-radius: 0;

        font-size: 14px;
        color: $dark-grey;

        .jGrowl-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            line-height: 30px;
            width: 34px;
            text-align: center;
            border-radius: 0 0 0 15px;
            color: #fff;
            outline: 0
        }

        &.af-message-success {
            background-color: #f9fcf7!important;
            .jGrowl-close {
                background: $grey;
            }
        }

        &.af-message-error {
            background-color: #fef8f8!important;
            .jGrowl-close {
                background: #df0a0a;
            }
        }
    }
}

.select2{
    .select2-selection{
        &--single{
            border: 1px solid #C4C4C4;
            border-radius: 4px;
            height: 30px;
            &:focus{
                outline: none;
            }
        }
        .select2-selection__rendered{
            font-size: 12px;
            line-height: 28px;
            color: #969696;
        }
    }
}
.select2-container{
    font-size: 12px;
    &--default{
        .select2-results__option[aria-selected=true]{
            background: $light-blue;
        }
        .select2-results__option--highlighted[aria-selected]{
            background: $blue;
            color: $dark-grey;
        }
    }
}