.tabs{
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    padding: 0 20px;
    border-bottom: 1px solid $black;

    .tabs__item{
        position: relative;
        padding: 10px 30px;

        &:after{
            content:'';
            display: block;

            background: $black;
            width: 100%;
            height: 0;

            position: absolute;
            left: 0px;
            bottom: -3px;

            transition: .4s;
        }
        &--active{
            font-weight: bold;
            &:after{
                height: 5px;
            }
        }

        &:hover{
            @extend .tabs__item--active;
            &:after{
                background: $dark-grey;
            }
        }
    }
}

.tabs-content{
    padding: 20px;
    display: none;

    &--active{
        display: block;
    }
}
// bootstrap-tabs
.tab-pane{
    .message_inside{
        padding: 0;
        border: none;
        & + .message_inside{
            margin-top: 30px;
        }
    }
}