.wrap {
    width: 100%;
    max-width: map-get($container-max-widths, 'xl');
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto
}
.wrap-fluid {
    width: 100%;
    max-width: 1780px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto
}
.line{
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px
}
.no-gutters {
    margin-right: 0;
    margin-left: 0
}
.no-gutters>.column,.no-gutters>[class*=column-] {
    padding-right: 0;
    padding-left: 0
}
.column,.column-1,.column-2,.column-3,.column-4,.column-5,.column-6,.column-7,.column-8,.column-9,.column-10,.column-11,.column-12 {
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.column{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}
.column-1{
    flex: 0 0 8.33333%;
    max-width: 8.33333%
}
.column-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%
}
.column-3 {
    flex: 0 0 25%;
    max-width: 25%
}
.column-4{
    flex: 0 0 33.33333%;
    max-width: 33.33333%
}
.column-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%
}
.column-6 {
    flex: 0 0 50%;
    max-width: 50%
}
.column-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%
}
.column-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%
}
.column-9 {
    flex: 0 0 75%;
    max-width: 75%
}
.column-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%
}
.column-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%
}
.column-12 {
    flex: 0 0 100%;
    max-width: 100%
}
@media all and (min-width: map-get($grid-breakpoints, 'sm')){
    .column-sm-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }
    .column-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .column-sm-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .column-sm-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .column-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .column-sm-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .column-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .column-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .column-sm-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .column-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .column-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .column-sm-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .column-md-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }
    .column-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .column-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .column-md-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .column-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .column-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .column-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .column-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .column-md-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .column-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .column-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .column-md-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'lg')){
    .column-lg-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }
    .column-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .column-lg-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .column-lg-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .column-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .column-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .column-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .column-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .column-lg-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .column-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .column-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .column-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    .wrap-fluid{
        padding-left: 80px;
        padding-right: 80px;
    }
    .column-xl-1{
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }
    .column-xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .column-xl-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .column-xl-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .column-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .column-xl-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .column-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .column-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .column-xl-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .column-xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .column-xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .column-xl-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}