@import "variable.scss";

@import "reboot.scss";

@import "framework.scss";
@import "grid.scss";
@import "position.scss";

@import "other/header.scss";
@import "other/nav.scss";
@import "other/tabs.scss";
@import "other/form.scss";
@import "other/button.scss";
@import "other/list.scss";
@import "other/pagination.scss";
@import "other/footer.scss";

body{
    position: relative;
    min-height: 100vh;

    padding: 0 0 56px;
}

@import "cabinet/info.scss";
@import "cabinet/nav.scss";
@import "cabinet/block.scss";
@import "cabinet/task.scss";
@import "cabinet/message.scss";

@import "page/title.scss";

@import "page/icon.scss";
@import "page/item.scss";
@import "page/navigation.scss";
@import "page/tab.scss";
@import "page/request.scss";

@import "page/step.scss";

@import "content/header.scss";
@import "content/block.scss";