@import "variable.scss";

@import "reboot.scss";

@import "framework.scss";
@import "grid.scss";
@import "position.scss";

@import "other/header.scss";
@import "other/nav.scss";
@import "other/form.scss";
@import "other/button.scss";
@import "other/pagination.scss";
@import "other/footer.scss";

body{
    position: relative;
    min-height: 100vh;

    padding: 0 0 50px;
}

@import "cabinet/info.scss";
@import "cabinet/nav.scss";
@import "cabinet/block.scss";

@import "page/icon.scss";

