html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cabinet Alert

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .wrap-fluid.wrap_cabinet
                    .line
                        .column-12.column-xl-3.column-lg-4.column-md-5.cabinet-sidebar
                            include chunks/cabinet-sidebar.pug
                        .column-12.column-xl-9.column-lg-8.column-md-7.cabinet-content
                            .cabinet-block.cabinet-block_alert
                                .line.align-items-center
                                    .column-12.column-lg-6.column-xl-8.text-lg-left
                                        p.mb-0 Что происходит в миссиях и заявках?
                                    .column-12.column-lg-6.column-xl-4.text-lg-right
                                        a.message-read-all(href="#") Отметить все прочитанными
                            a.message.message_alert(href="#")
                                .message__data 12 сент 2019 
                                .message__name Исполнитель условно завершил заявку
                                .message__introtext Заявка: «Незаметно оставить подарок»
                            a.message.message_alert(href="#")
                                .message__data 12 сент 2019 
                                .message__name На вашу заявку сегодня откликнулся новый исполнитель
                                .message__introtext Заявка: «Незаметно оставить подарок»
                            a.message.message_alert.message_alert_viewed(href="#")
                                .message__data 12 сент 2019 
                                .message__name Опубликовано 3 новых миссии
                                .message__introtext новости проекта
                            a.message.message_alert.message_alert_viewed(href="#")
                                .message__data 12 сент 2019 
                                .message__name На вашу заявку сегодня откликнулся новый исполнитель
                                .message__introtext заявка «Телеграф»
                            a.message.message_alert.message_alert_viewed(href="#")
                                .message__data 12 сент 2019 
                                .message__name Условия заявки изменились по просьбе пользователя Анна К.
                                .message__introtext Заявка: «Незаметно оставить подарок»
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")