html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Blog
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .title-block.bg-white
                    .wrap-fluid
                        h1.text-bold.mb-0 Блог
                .navigation-scroll
                    .wrap-fluid
                        .navigation.btn-group
                            a.btn.btn_border.navigation__btn-small.btn_border--active(href="#") Показать все
                            a.btn.btn_border.navigation__btn-small(href="#") Еда
                            a.btn.btn_border.navigation__btn-small(href="#") Сюрприз
                            a.btn.btn_border.navigation__btn-small(href="#") Фото
                .wrap-fluid        
                    .item-columns
                        a.item.item_image-full(href="#")
                            .item__image
                            .item__title Опубликовано 3 новых миссии
                            .item__introtext новости проекта
                            .item__data.text-small Опубликовано сегодня
                        a.item.item_image(href="#")
                            .item__image(style="background-image: url('../img/image-demo.jpg');")
                            .item__info
                                .item__title Новая миссия в категории «Путеводитель»
                                .item__introtext новые миссии
                                .item__data.text-small Опубликовано 15 сентября 2019
                        a.item.item_image(href="#")
                            .item__image
                            .item__info
                                .item__title Новая миссия в категории «Путеводитель»
                                .item__introtext новые миссии
                                .item__data.text-small Опубликовано 15 сентября 2019
                        a.item.item_image-full(href="#")
                            .item__image(style="background-image: url('../img/image-demo.jpg');")
                            .item__title Опубликовано 3 новых миссии
                            .item__introtext новости проекта
                            .item__data.text-small Опубликовано сегодня
                        a.item.item_image(href="#")
                            .item__image(style="background-image: url('../img/image-demo.jpg');")
                            .item__info
                                .item__title Новая миссия в категории «Путеводитель»
                                .item__introtext Impedit, quo voluptas assumenda est, omnis voluptas nulla. Rem aperiam eaque ipsa, quae ab illo inventore veritatis.
                                .item__data.text-small Опубликовано сегодня
                        a.item.item_image(href="#")
                            .item__image(style="background-image: url('../img/image-demo.jpg');")
                            .item__info
                                .item__title Новая миссия в категории «Путеводитель»
                                .item__introtext новые миссии
                                .item__data.text-small Опубликовано 15 сентября 2019
                        a.item.item_image-full(href="#")
                            .item__image(style="background-image: url('../img/bg-demo.jpg');")
                            .item__info
                                .item__title Новая миссия в категории «Путеводитель»
                                .item__introtext новые миссии
                                .item__data.text-small Опубликовано 15 сентября 2019                
                        a.item.item_image(href="#")
                            .item__image(style="background-image: url('../img/image-demo.jpg');")
                            .item__info
                                .item__title Новая миссия в категории «Путеводитель»
                                .item__introtext Impedit, quo voluptas assumenda est, omnis voluptas nulla. Rem aperiam eaque ipsa, quae ab illo inventore veritatis.
                                .item__data.text-small Опубликовано сегодня
                    ul.pagination
                        li.pagination__item.pagination__item--active
                            a.pagination__link.pagination__link--active(href="#1") 1
                        li.pagination__item
                            a.pagination__link(href="#2") 2
                        li.pagination__item
                            a.pagination__link(href="#3") 3
                        li.pagination__item
                            a.pagination__link(href="#4") 4
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")