html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cabinet Page
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .wrap.wrap_cabinet
                    .line
                        .column-12.column-xl-3.column-lg-4.column-md-5.cabinet-sidebar
                            .cabinet-info.cabinet-info_full
                                .line
                                    .column.cabinet-info__image
                                        img.img-fluid(src="../img/demo-photo.png")
                                    .column.cabinet-info__data
                                        .cabinet-info__name Катерина Мельник
                                        .line
                                            .column-4
                                                p.cabinet-info__label Рейтинг
                                                p.cabinet-info__value 4.8
                                            .column-8
                                                p.cabinet-info__label Собрано пазлов
                                                p.cabinet-info__value 16 из 100
                        .column-12.column-xl-9.column-lg-8.column-md-7.cabinet-content
                            .cabinet-block 
                                p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот не имеет никакого отношения к обитателям водоемов.
                                p.h3.text-bold.mt-30.mb-0 311 отзывов
                                .nav.navigation.btn-group#reviewTab(role="tablist")
                                    a.nav__link.btn.btn_border.active.navigation__btn-small(id="type1-tab" data-toggle="tab" href="#type1" role="tab" aria-controls="type1" aria-selected="true") От заказчиков (195)
                                    a.nav__link.btn.btn_border.navigation__btn-small(id="type2-tab" data-toggle="tab" href="#type2" role="tab" aria-controls="type2" aria-selected="false") От исполнителей (116)
                                .tab-content#reviewTab
                                    .tab-pane.fade.active.show#type1(role="tabpanel" aria-labelledby="type1-tab")
                                        .message.message_inside
                                            .message__row.line
                                                .column.message__image
                                                    img.img-fluid(src="../img/demo-photo.png")
                                                .column.message__info
                                                    .message__name Катерина Мельник       
                                                    .message__data 7 сентября 2019
                                                    .message__item Самый опасный, и психологическом комфорте ими 
                                                        | раньше разобраться в привычках взглядах. Во время 
                                                        | которых супруги привыкают друг к ссоры. Для кого 
                                                        | не те, что были раньше, значит, они начинают. 
                                        .message.message_inside
                                            .message__row.line
                                                .column.message__image
                                                    span.no-image ЮМ
                                                .column.message__info
                                                    .message__name Юрий Мартынов       
                                                    .message__data 27 сентября 2019
                                                    .message__item Ориентированных на сайтах и слова. Разной частотой, имеется разница в книгопечатанииdiv
                                    .tab-pane.fade#type2(role="tabpanel" aria-labelledby="type2-tab")
                                        p 2   
            include chunks/footer.pug
        script(src="./js/util.js")
        script(src="./js/tab.js")
        script(src="./js/app.min.js")