html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cabinet Page

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .wrap-fluid.wrap_cabinet
                    .line
                        .column-12.column-xl-3.column-lg-4.column-md-5.cabinet-sidebar
                            include chunks/cabinet-sidebar.pug
                        .column-12.column-xl-9.column-lg-8.column-md-7.cabinet-content
                            .line.no-gutters
                                a.cabinet-block.cabinet-block_line(href="mission-start.html")
                                    .cabinet-block__col-image
                                        .cabinet-block__image(style="background-image: url('../img/img-01.png');")
                                    .cabinet-block__col-content
                                        .cabinet-block__content
                                            p.cabinet-block__title «Начало»
                                            .cabinet-block__progress.cabinet-block__progress_5
                                                .cabinet-block__progress__title прогресс миссии
                                                .cabinet-block__progress__info 5 из 8
                                            .icon-category.icon-category_heart                                            
                                            .icon-star.icon-star_gold
                                a.cabinet-block.cabinet-block_line(href="mission-start.html")
                                    .cabinet-block__col-image
                                        .cabinet-block__image(style="background-image: url('../img/img-01.png');")
                                    .cabinet-block__col-content
                                        .cabinet-block__content
                                            p.cabinet-block__title «Досье»
                                            .cabinet-block__progress.cabinet-block__progress_2
                                                .cabinet-block__progress__title прогресс миссии
                                                .cabinet-block__progress__info 2 из 8
                                            .icon-category.icon-category_mask
                                            .icon-star.icon-star_silver
                                .cabinet-block.cabinet-block_line.cabinet-block_locked
                                    .cabinet-block__col-image
                                        .cabinet-block__image
                                    .cabinet-block__col-content
                                        .cabinet-block__content
                                            p.cabinet-block__title Миссия 3
                                            .cabinet-block__progress
                                                .cabinet-block__progress__title прогресс миссии
                                                .cabinet-block__progress__info 0 из 8
                                .cabinet-block.cabinet-block_line.cabinet-block_locked
                                    .cabinet-block__col-image
                                        .cabinet-block__image
                                    .cabinet-block__col-content
                                        .cabinet-block__content
                                            p.cabinet-block__title Миссия 4
                                            .cabinet-block__progress
                                                .cabinet-block__progress__title прогресс миссии
                                                .cabinet-block__progress__info 0 из 8
                                .cabinet-block.cabinet-block_line.cabinet-block_locked
                                    .cabinet-block__col-image
                                        .cabinet-block__image
                                    .cabinet-block__col-content
                                        .cabinet-block__content
                                            p.cabinet-block__title Миссия 5
                                            .cabinet-block__progress
                                                .cabinet-block__progress__title прогресс миссии
                                                .cabinet-block__progress__info 0 из 8
                                .cabinet-block.cabinet-block_line.cabinet-block_locked
                                    .cabinet-block__col-image
                                        .cabinet-block__image
                                    .cabinet-block__col-content
                                        .cabinet-block__content
                                            p.cabinet-block__title Миссия 6
                                            .cabinet-block__progress
                                                .cabinet-block__progress__title прогресс миссии
                                                .cabinet-block__progress__info 0 из 8
                                .cabinet-block.cabinet-block_line.cabinet-block_locked
                                    .cabinet-block__col-image
                                        .cabinet-block__image
                                    .cabinet-block__col-content
                                        .cabinet-block__content
                                            p.cabinet-block__title Миссия 7
                                            .cabinet-block__progress
                                                .cabinet-block__progress__title прогресс миссии
                                                .cabinet-block__progress__info 0 из 8
                                .cabinet-block.cabinet-block_line.cabinet-block_locked
                                    .cabinet-block__col-image
                                        .cabinet-block__image
                                    .cabinet-block__col-content
                                        .cabinet-block__content
                                            p.cabinet-block__title Миссия 8
                                            .cabinet-block__progress
                                                .cabinet-block__progress__title прогресс миссии
                                                .cabinet-block__progress__info 0 из 8
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")