html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cabinet Page
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .wrap.wrap_cabinet
                    .line
                        .column-12.column-xl-3.column-lg-4.column-md-5.cabinet-sidebar
                            include chunks/cabinet-sidebar.pug
                        .column-12.column-xl-9.column-lg-8.column-md-7.cabinet-content
                            .cabinet-subtitle ВЫБЕРИТЕ КАТЕГОРИЮ:
                            a.cabinet-task.cabinet-task_category(href="create-form.html")
                                .line.no-gutters.justify-content-between.align-items-center
                                    .cabinet-task__icon.cabinet-task__icon_camera
                                    .cabinet-task__category Камера
                                        .cabinet-task__info ?
                            a.cabinet-task.cabinet-task_category(href="create-form.html")
                                .line.no-gutters.justify-content-between.align-items-center
                                    .cabinet-task__icon.cabinet-task__icon_plate
                                    .cabinet-task__category Тарелка
                                        .cabinet-task__info ?
                            a.cabinet-task.cabinet-task_category(href="create-form.html")
                                .line.no-gutters.justify-content-between.align-items-center
                                    .cabinet-task__icon.cabinet-task__icon_travel
                                    .cabinet-task__category Путеводитель
                                        .cabinet-task__info ?
                            a.cabinet-task.cabinet-task_category(href="create-form.html")
                                .line.no-gutters.justify-content-between.align-items-center
                                    .cabinet-task__icon.cabinet-task__icon_box
                                    .cabinet-task__category Посылка
                                        .cabinet-task__info ?
                            a.cabinet-task.cabinet-task_category(href="create-form.html")
                                .line.no-gutters.justify-content-between.align-items-center
                                    .cabinet-task__icon.cabinet-task__icon_hand
                                    .cabinet-task__category Рукопожатие
                                        .cabinet-task__info ?
                            a.cabinet-task.cabinet-task_category(href="create-form.html")
                                .line.no-gutters.justify-content-between.align-items-center
                                    .cabinet-task__icon.cabinet-task__icon_gift
                                    .cabinet-task__category Подарок
                                        .cabinet-task__info ?
                            a.cabinet-task.cabinet-task_category(href="create-form.html")
                                .line.no-gutters.justify-content-between.align-items-center
                                    .cabinet-task__icon.cabinet-task__icon_mask
                                    .cabinet-task__category Маски
                                        .cabinet-task__info ?
                            a.cabinet-task.cabinet-task_category(href="create-form.html")
                                .line.no-gutters.justify-content-between.align-items-center
                                    .column.cabinet-task__icon.cabinet-task__icon_heart
                                    .column.cabinet-task__category Сердце
                                        .cabinet-task__info ?
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")