html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cabinet Page
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="./css/datepicker.min.css" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')
    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .wrap-fluid.wrap_cabinet
                    .line
                        .column-12.column-xl-3.column-lg-4.column-md-5.cabinet-sidebar
                            include chunks/cabinet-sidebar.pug
                        .column-12.column-xl-9.column-lg-8.column-md-7.cabinet-content
                            form.form.form_cabinet-create
                                .cabinet-block.cabinet-block--last
                                    .line.no-gutters.justify-content-between.align-items-center
                                        p.mb-0.text-bold Создание новой заявки
                                        a.btn.btn_border Сохранить черновик
                                .form-group
                                    .form-label УКАЖИТЕ НАЗВАНИЕ
                                    .form-input
                                        input.input(type="text" placeholder="Пишите здесь...")
                                .form-label ВЫБЕРИТЕ КАТЕГОРИЮ:
                                .line.no-gutters
                                    a.cabinet-task.cabinet-task_line.cabinet-task_category(href="#")
                                        .cabinet-task__icon.cabinet-task__icon_camera
                                        .cabinet-task__category Камера
                                            .cabinet-task__info ?
                                    a.cabinet-task.cabinet-task_line.cabinet-task_category(href="#")
                                        .cabinet-task__icon.cabinet-task__icon_plate
                                        .cabinet-task__category Тарелка
                                            .cabinet-task__info ?
                                    a.cabinet-task.cabinet-task_line.cabinet-task_category(href="#")
                                        .cabinet-task__icon.cabinet-task__icon_travel
                                        .cabinet-task__category Путеводитель
                                            .cabinet-task__info ?
                                    a.cabinet-task.cabinet-task_line.cabinet-task_category(href="#")
                                        .cabinet-task__icon.cabinet-task__icon_box
                                        .cabinet-task__category Посылка
                                            .cabinet-task__info ?
                                    a.cabinet-task.cabinet-task_line.cabinet-task_category(href="#")
                                        .cabinet-task__icon.cabinet-task__icon_hand
                                        .cabinet-task__category Рукопожатие
                                            .cabinet-task__info ?
                                    a.cabinet-task.cabinet-task_line.cabinet-task_category(href="#")
                                        .cabinet-task__icon.cabinet-task__icon_gift
                                        .cabinet-task__category Подарок
                                            .cabinet-task__info ?
                                    a.cabinet-task.cabinet-task_line.cabinet-task_category(href="#")
                                        .cabinet-task__icon.cabinet-task__icon_mask
                                        .cabinet-task__category Маски
                                            .cabinet-task__info ?
                                    a.cabinet-task.cabinet-task_line.cabinet-task_category(href="#")
                                        .column.cabinet-task__icon.cabinet-task__icon_heart
                                        .column.cabinet-task__category Сердце
                                            .cabinet-task__info ?
                                .form-group
                                    .form-label ДЕТАЛИ
                                    .form-input
                                        textarea.textarea(rows="6" placeholder="Описание...")
                                .form-label ДОП. МАТЕРИАЛЫ
                                .form-group.form-group_btn.bg-white
                                    .line
                                        .column-12.column-lg-4
                                            button.btn.btn_border.btn_fullwidth Добавить фото
                                            p.text-small Принимаются файлы формата: gif, png, jpg, jpeg
                                        .column-12.column-lg-4.mt-15.mt-lg-0
                                            button.btn.btn_border.btn_fullwidth Добавить видео
                                            p.text-small Принимаются файлы формата: mp4, webm, ogg, mov
                                        .column-12.column-lg-4.mt-15.mt-lg-0
                                            button.btn.btn_border.btn_fullwidth Добавить документ
                                            p.text-small Принимаются файлы формата: doc, docx, pdf, txt, xls, xlsx
                                .form-label ТИП НАГРАДЫ
                                .form-group.bg-white
                                    .radio-group
                                        .radio
                                            input.radio__input(id="type1" name="type" type="radio" value="Денежная награда")
                                            label.radio__label(for="type1") Денежная награда
                                        .radio
                                            input.radio__input(checked id="type2" name="type" type="radio" value="Внутренняя валюта")
                                            label.radio__label(for="type2") Валюта ZZ
                                        .radio
                                            input.radio__input(id="type3" name="type" type="radio" value="Очки опыта")
                                            label.radio__label(for="type3") Опыт
                                .form-group.bg-white
                                    input.input(type="number" placeholder="Размер вознаграждения")
                                .form-label ДАТА И МЕСТО
                                .form-group
                                    .form-input
                                        .form-input__date
                                            input.input.input_date#datepicker(autocomplete="off" type="text" placeholder="Укажите дату завершения миссии")  
                                .form-group
                                    .form-input
                                        .form-input__place
                                            input.input.input_place(type="text" placeholder="Укажите место выполнения миссии")                                
                                
                                
                                button.btn.btn_cta.btn_cabinet-create Опубликовать
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/datepicker.min.js")
        script(src="./js/app.min.js")