html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Enter Page

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        main
            .header-block.header-block_form
                .wrap
                    .line.justify-content-center
                        .column-12.column-sm-10.column-md-7.column-lg-5.text-center
                            p.h2
                                span.text-bold Регистрация
                                |  — 
                                a(href="#") Вход
                            p.mb-30 авторизация через 
                                a.text-bold(href="#") Facebook 
                                |  или 
                                a.text-bold(href="#") ВКонтакте
                            form.form.form_user
                                .form-group.form-group_first
                                    .form-input
                                        input.input(type="text" placeholder="Ваше имя")
                                .form-group
                                    .form-input
                                        input.input(type="email" placeholder="E-mail *")
                                .form-group
                                    .form-input
                                        input.input(type="password" placeholder="Пароль")
                                button.btn.btn_cta.btn_large.btn_fullwidth.text-bold(type="submit") Зарегистироваться
                                .form__agree.checkbox.text-small
                                    input.checkbox__input#policy(type="checkbox" checked="")
                                    label.checkbox__label(for="policy") согласен с обработкой 
                                        a.checkbox__link(href="/privacy.pdf" title="Соглашение на обработку персональных данных") персональных данных
                            a.mt-30(href="/")
                                img(class="img-fluid logo" src="../img/logo-text-white.svg")
        script(src="./js/util.js")
        script(src="./js/tab.js")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")