html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Index Page
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        .header-block.header-block_bg
            .wrap.text-center
                .line.justify-content-center
                    .column-12.column-lg-9
                        p.header-block__title Регистрируйся, выполняй задания и получай награду!
                        p.header-block__content Maiores alias consequatur aut officiis debitis aut odit aut reiciendis voluptatibus. Velit esse, quam nihil molestiae. Quis nostrum exercitationem ullam corporis suscipit laboriosam.
                        .btn-group.justify-content-center
                            a.btn.btn_primary.btn_large-xl.text-bold(href="#") Создать аккаунт
                            a.btn.btn_white.btn_large-xl.scroll(href="#howitwork") Как это работает?
        .bg-light-blue.content-category
            .wrap-fluid
                .line
                    .column-12.column-lg-3.column-sm-6
                        a(href="#").content-category__item.content-category__item_photo-1
                            .content-category__title Фотография
                    .column-12.column-lg-3.column-sm-6
                        a(href="#").content-category__item.content-category__item_photo-2
                            .content-category__title Путешествия
                    .column-12.column-lg-3.column-sm-6
                        a(href="#").content-category__item.content-category__item_photo-3
                            .content-category__title Еда
                    .column-12.column-lg-3.column-sm-6
                        a(href="#").content-category__item.content-category__item_photo-4
                            .content-category__title Любовь
                .line
                    .column-12.column-lg-3.column-sm-6
                        a(href="#").content-category__item.content-category__item_photo-5
                            .content-category__title Встречи
                    .column-12.column-lg-3.column-sm-6
                        a(href="#").content-category__item.content-category__item_photo-6
                            .content-category__title Покупки
                    .column-12.column-lg-3.column-sm-6
                        a(href="#").content-category__item.content-category__item_photo-7
                            .content-category__title Танцы
                    .column-12.column-lg-3.column-sm-6
                        a(href="#").content-category__item.content-category__item_photo-8
                            .content-category__title Маски
        .content-block.content-block_large
            .wrap.text-center
                h2.content-title.text-bold Что такое Elzzup?
                .line.justify-content-center.step
                    .column-6.column-md-6.column-xl-3.step__item.mb-30.mb-xl-0
                        .step__col
                            .step__number 01
                        .step__content
                            p.step__title Заголовок 1
                            p Пункт для примера, точно не знаю какие надо выделить ключевые моменты
                    .column-6.column-md-6.column-xl-3.step__item.mb-30.mb-xl-0
                        .step__col
                            .step__number 02
                        .step__content
                            p.step__title Заголовок 2
                            p Пункт для примера, точно не знаю какие надо выделить ключевые моменты
                    .column-6.column-md-6.column-xl-3.step__item
                        .step__col
                            .step__number 03
                        .step__content
                            p.step__title Заголовок 3
                            p Пункт для примера, точно не знаю какие надо выделить ключевые моменты
                    .column-6.column-md-6.column-xl-3.step__item
                        .step__col
                            .step__number 04
                        .step__content
                            p.step__title Заголовок 4
                            p Пункт для примера, точно не знаю какие надо выделить ключевые моменты
        .content-block.content-block_large.bg-dark.mt-0#howitwork
            .wrap-fluid
                .line.align-items-center.text-center.text-md-left
                    .column-12.column-md-7.column-xl-6
                        p.content-title.text-bold.mb-xl-30 Как это работает?
                        p Maiores alias consequatur aut officiis debitis aut odit aut reiciendis voluptatibus. Velit esse, quam nihil molestiae. Quis nostrum exercitationem ullam corporis suscipit laboriosam.Maiores alias consequatur aut officiis debitis aut odit aut reiciendis voluptatibus. Velit esse, quam nihil molestiae. Quis nostrum exercitationem ullam corporis suscipit laboriosam.Maiores alias consequatur aut officiis debitis aut odit aut reiciendis voluptatibus. Velit esse, quam nihil molestiae. Quis nostrum exercitationem ullam corporis suscipit laboriosam.
                    .column-12.column-md-5.column-xl-6.mt-30.mt-md-0
                        img.img-fluid(src="../img/schema-test.png")
        .content-block.bg-light-blue.mt-0
            .wrap-fluid
                .line.no-gutters.justify-content-between.align-items-center
                    p.h3.mb-0.text-bold Актуальное в блоге
                    a.btn.btn_white(href="page-request.html") Все статьи
                .slider.mt-30.slider_request
                    .slider__item
                        a.preview-page(href="#" style="background-image:url('../img/image-demo-1.jpg');") Сделать фото заката над морем
                            .icon-category.icon-category_heart
                    .slider__item
                        a.preview-page(href="#" style="background-image:url('../img/image-demo.jpg');") Миссия «Начало»
                            .icon-category.icon-category_gift
                    .slider__item
                        a.preview-page(href="#" style="background-image:url('../img/image-demo-2.jpg');") Фейерверк по сигналу в&nbsp;СПб
                            .icon-category.icon-category_mask
                    .slider__item
                        a.preview-page(href="#" style="background-image:url('../img/image-demo-3.jpg');") Мастер-класс по food-фото
                            .icon-category.icon-category_heart
                    .slider__item
                        a.preview-page(href="#" style="background-image:url('../img/image-demo-4.jpg');") Праздник Холли
                            .icon-category.icon-category_heart        
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js")