html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Message Page
        
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .wrap-fluid.wrap_cabinet
                    .line
                        .column-12.column-xl-3.column-lg-4.column-md-5.cabinet-sidebar
                            include chunks/cabinet-sidebar.pug
                        .column-12.column-lg-8.column-md-7.column-xl-9.cabinet-content
                            .cabinet-block.cabinet-block_alert
                                .line.align-items-center
                                    .column-12.column-lg-6.column-xl-8.text-lg-left
                                        p.mb-0 Здесь есть о чем поговорить
                                    .column-12.column-lg-6.column-xl-4.text-lg-right
                                        a.message-read-all(href="#") Отметить все прочитанными
                            .cabinet-block
                                form.form.form_search
                                    input.form-input.form-input_field(type="search" placeholder="Поиск по сообщениям")
                                    button.btn.btn_search
                            a.message(href="message-chat.html")
                                .message__alert 11
                                .line
                                    .column.message__image
                                        span.image(style="background-image: url('../img/demo-photo.png')")
                                    .column.message__info
                                        .message__data 7 сент 2019
                                        .message__name Катерина Мельник       
                                        .message__introtext Ориентированных на сайтах и слова. Разной частотой, имеется разница в книгопечатании еще в...         
                                        .message__task-name заявка "Фото в Голливуде"
                            a.message(href="message-chat.html")
                                .line
                                    .column.message__image
                                        span.no-image АС
                                    .column.message__info
                                        .message__data 27 сент 2019
                                        .message__name Анна Старовер       
                                        .message__introtext Ориентированных на сайтах и слова. Разной частотой, имеется разница в книгопечатании еще в...         
                                        .message__task-name заявка "Фото в Голливуде"
                            a.message(href="message-chat.html")
                                .line
                                    .column.message__image
                                        span.no-image ЮМ
                                    .column.message__info
                                        .message__data 27 сент 2019
                                        .message__name Юрий Мартынов       
                                        .message__introtext Ориентированных на сайтах и слова. Разной частотой, имеется разница в книгопечатании еще в...         
                                        .message__task-name заявка "Фото в Голливуде"
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")