html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Mission Start Page
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .wrap-fluid.wrap_cabinet
                    .line
                        .column-12.column-xl-3.column-lg-4.column-md-5.cabinet-sidebar
                            include chunks/cabinet-sidebar.pug
                        .column-12.column-xl-9.column-lg-8.column-md-7.cabinet-content
                            .cabinet-block
                                .line
                                    .column.cabinet-block__col-image
                                        .cabinet-block__image(style="background-image: url('../img/img-01.png');")
                                    .column.cabinet-block__col-content
                                        .cabinet-block__content
                                            p.cabinet-block__title «Начало»
                                            .cabinet-block__progress.cabinet-block__progress_2
                                                .cabinet-block__progress__title прогресс миссии
                                                .cabinet-block__progress__info 2 из 8
                                            .icon-category.icon-category_gift
                                            .icon-star.icon-star_gold
                            .wrap.wrap_cabinet-task
                                .line.no-gutters
                                    .column-6.d-flex
                                        .cabinet-task
                                            .cabinet-task__title БИО
                                            .cabinet-task__offer расскажите о себе
                                            .cabinet-task__reward +5
                                    .column-6.d-flex
                                        .cabinet-task
                                            .cabinet-task__title ПОРТРЕТ
                                            .cabinet-task__offer загрузите фото
                                            .cabinet-task__reward +5
                                    .column-6.d-flex
                                        .cabinet-task.cabinet-task_locked
                                            .cabinet-task__title ПРИВЕТ
                                            .cabinet-task__offer напиши первое сообщение в общий чат
                                            .cabinet-task__reward +5
                                    .column-6.d-flex
                                        .cabinet-task.cabinet-task_locked
                                            .cabinet-task__title БОНУС
                                            .cabinet-task__offer получите  плюс к карме за хорошее поведение
                                            .cabinet-task__reward +5
                                    .column-6.d-flex
                                        .cabinet-task.cabinet-task_locked
                                            .cabinet-task__title БЛОГ
                                            .cabinet-task__offer исследуй наш блог
                                            .cabinet-task__reward +10
                                    .column-6.d-flex
                                        .cabinet-task.cabinet-task_locked
                                            .cabinet-task__title БОНУС
                                            .cabinet-task__offer получите  плюс к карме за хорошее поведение
                                            .cabinet-task__reward +10
                                    .column-6.d-flex
                                        .cabinet-task.cabinet-task_locked
                                            .cabinet-task__title ДРУЗЬЯ
                                            .cabinet-task__offer расскажи о Elzzup своим друзьям
                                            .cabinet-task__reward +20
                                    .column-6.d-flex
                                        .cabinet-task.cabinet-task_locked
                                            .cabinet-task__title 1-АЯ МИССИЯ
                                            .cabinet-task__offer получите  плюс к карме за хорошее поведение
                                            .cabinet-task__reward +20
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")