html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Request Category

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css", rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .title-block.bg-white
                    .wrap-fluid
                        h1.text-bold.mb-0 Актуальные заявки
                .navigation-scroll
                    .wrap-fluid
                        .navigation.btn-group
                            select.basic-select(name="place")
                                option(value="Любой город") Фильтр 1
                                option(value="1") Москва
                                option(value="2") Санкт-Петербург
                            select.basic-select(name="place")
                                option(value="Любой город") Фильтр 2
                                option(value="1") Москва
                                option(value="2") Санкт-Петербург
                            select.basic-select(name="place")
                                option(value="Любой город") Фильтр 3
                                option(value="1") Москва
                                option(value="2") Санкт-Петербург
                .request-block
                    .wrap-fluid
                        .request-column
                            .request
                                a.request__image-preview(href="/request-inside.html")
                                    .request__price.request__price_money 1199 р.
                                .line.align-items-center
                                    .column.request__image
                                        span.image(style="background-image: url('../img/demo-photo-2.jpg');")
                                    .column.request__info
                                        .request__author Иван Старовер
                                        .request__rating рейтинг пользователя — 4.8
                                        .icon-category.icon-category_camera
                                .request__content
                                    .request__location РОССИЯ, САНКТ-ПЕТЕРБУРГ
                                    a.request__title(href="/request-inside.html") Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    .request__introtext Совсем необязательно сегодня существует несколько вариантов 
                                        | lorem ipsum. Сегодня существует несколько вариантов lorem к обитателям 
                                        | водоемов такое. Этот, несмотря на кириллице значительно.
                                    .request__duration Осталось до окончания: 
                                        span.text-bold 5 дн. 18 часов
                                .request__favorites
                                    <svg x="0px" y="0px" viewBox="0 0 504.222 504.222" xml:space="preserve">
                                        <path class="path" d="M44.16,91.815c74.831-76.012,148.48-42.535,207.951,11.422c59.077-53.957,132.726-87.828,207.951-11.422c58.683,59.471,59.077,155.175,0,214.646c-98.855,90.585-150.449,137.452-177.625,162.265c-16.935,15.36-42.535,15.36-59.471,0c-27.175-24.418-79.163-71.68-178.806-162.265C-14.917,247.385-14.523,151.68,44.16,91.815z"/>
                                    </svg>
                            .request.request_no-preview
                                .line.align-items-center
                                    .column.request__image
                                        span.no-image ЮМ
                                    .column.request__info
                                        .request__author Анна Старовер
                                        .request__rating рейтинг пользователя — 4.8
                                        .icon-category.icon-category_mask
                                .request__content
                                    .request__location РОССИЯ, САНКТ-ПЕТЕРБУРГ
                                    a.request__title(href="/request-inside.html") Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    .request__duration Осталось до окончания: 
                                        span.text-bold 5 дн. 18 часов
                                    .request__introtext Совсем необязательно сегодня существует несколько вариантов 
                                        | lorem ipsum. Сегодня существует несколько вариантов lorem к обитателям 
                                        | водоемов такое. Этот, несмотря на кириллице значительно.
                                    .request__price.request__price_gift подарок
                                .request__favorites 
                                    <svg x="0px" y="0px" viewBox="0 0 504.222 504.222" xml:space="preserve">
                                        <path class="path" d="M44.16,91.815c74.831-76.012,148.48-42.535,207.951,11.422c59.077-53.957,132.726-87.828,207.951-11.422c58.683,59.471,59.077,155.175,0,214.646c-98.855,90.585-150.449,137.452-177.625,162.265c-16.935,15.36-42.535,15.36-59.471,0c-27.175-24.418-79.163-71.68-178.806-162.265C-14.917,247.385-14.523,151.68,44.16,91.815z"/>
                                    </svg>                       
                            .request.request_no-preview
                                .line.align-items-center
                                    .column.request__image
                                        span.no-image ЮМ
                                    .column.request__info
                                        .request__author Анна Старовер
                                        .request__rating рейтинг пользователя — 4.8
                                        .icon-category.icon-category_heart
                                .request__content
                                    .request__location РОССИЯ, САНКТ-ПЕТЕРБУРГ
                                    a.request__title(href="/request-inside.html") Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    .request__duration Осталось до окончания: 
                                        span.text-bold 5 дн. 18 часов
                                    .request__introtext Совсем необязательно сегодня существует несколько вариантов 
                                        | lorem ipsum. Сегодня существует несколько вариантов lorem к обитателям 
                                        | водоемов такое. Этот, несмотря на кириллице значительно.
                                    .request__price.request__price_service услуга
                                .request__favorites.request__favorites--active
                                    <svg x="0px" y="0px" viewBox="0 0 504.222 504.222" xml:space="preserve">
                                        <path class="path" d="M44.16,91.815c74.831-76.012,148.48-42.535,207.951,11.422c59.077-53.957,132.726-87.828,207.951-11.422c58.683,59.471,59.077,155.175,0,214.646c-98.855,90.585-150.449,137.452-177.625,162.265c-16.935,15.36-42.535,15.36-59.471,0c-27.175-24.418-79.163-71.68-178.806-162.265C-14.917,247.385-14.523,151.68,44.16,91.815z"/>
                                    </svg>
                            .request
                                a.request__image-preview(href="/request-inside.html" style="background-image:url('../img/image-8.jpg');")
                                    .request__price.request__price_zz 122 ZZ
                                .line.align-items-center
                                    .column.request__image
                                        span.no-image AC
                                    .column.request__info
                                        .request__author Анна Старовер
                                        .request__rating рейтинг пользователя — 4.8
                                        .icon-category.icon-category_hand
                                .request__content
                                    .request__location РОССИЯ, САНКТ-ПЕТЕРБУРГ
                                    a.request__title(href="/request-inside.html") Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    .request__introtext Совсем необязательно сегодня существует несколько вариантов 
                                        | lorem ipsum. Сегодня существует несколько вариантов lorem к обитателям 
                                        | водоемов такое. Этот, несмотря на кириллице значительно.
                                    .request__duration Осталось до окончания: 
                                        span.text-bold 5 дн. 18 часов
                                .request__favorites
                                    <svg x="0px" y="0px" viewBox="0 0 504.222 504.222" xml:space="preserve">
                                        <path class="path" d="M44.16,91.815c74.831-76.012,148.48-42.535,207.951,11.422c59.077-53.957,132.726-87.828,207.951-11.422c58.683,59.471,59.077,155.175,0,214.646c-98.855,90.585-150.449,137.452-177.625,162.265c-16.935,15.36-42.535,15.36-59.471,0c-27.175-24.418-79.163-71.68-178.806-162.265C-14.917,247.385-14.523,151.68,44.16,91.815z"/>
                                    </svg>
                        ul.pagination
                            li.pagination__item.pagination__item--active
                                a.pagination__link.pagination__link--active(href="#1") 1
                            li.pagination__item
                                a.pagination__link(href="#2") 2
                            li.pagination__item
                                a.pagination__link(href="#3") 3
                            li.pagination__item
                                a.pagination__link(href="#4") 4
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js")
        script(src="./js/app.min.js")