html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Request Category
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css", rel="stylesheet")        
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .wrapper
            include chunks/header.pug
            main.content
                .title-block.bg-white
                    .container
                        h1.text-bold.mb-0 Актуальные заявки
                .navigation-scroll
                    .container
                        .navigation.btn-group
                            select.basic-select(name="place")
                                option(value="Любой город") Любой город
                                option(value="1") Москва
                                option(value="2") Санкт-Петербург
                            a.btn.btn_border.btn_border--active.navigation__btn-small(href="#") Тип заявки · СЮРПРИЗ
                            a.btn.btn_border.navigation__btn-small(href="#") Статус заявки    
                .request-block
                    .container
                        .request-column
                            .request
                                .request__image-preview
                                    .request__price 122 ZZ
                                .row.align-items-center
                                    .col.request__image
                                        span.no-image AC
                                    .col.request__info
                                        .request__author Анна Старовер
                                        .request__rating рейтинг пользователя — 4.8
                                        <svg class="icon-category" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M18.3266 8.89516H1.67334C1.49889 8.89516 1.35756 9.03656 1.35756 9.21094V19.0091C1.35756 19.1835 1.49889 19.3249 1.67334 19.3249H18.3267C18.5011 19.3249 18.6424 19.1835 18.6424 19.0091V9.21098C18.6424 9.03652 18.501 8.89516 18.3266 8.89516Z" fill="#F7434C"/>
                                            <path d="M18.3266 8.89516H1.67334C1.49889 8.89516 1.35756 9.03656 1.35756 9.21094V10.4741H18.6424V9.21094C18.6424 9.03652 18.501 8.89516 18.3266 8.89516Z" fill="#DB2E37"/>
                                            <path d="M11.6133 8.89516H8.38681C8.21236 8.89516 8.07103 9.03656 8.07103 9.21094V19.0091C8.07103 19.1835 8.21236 19.3249 8.38681 19.3249H11.6133C11.7877 19.3249 11.9291 19.1835 11.9291 19.0091V9.21098C11.9291 9.03652 11.7877 8.89516 11.6133 8.89516Z" fill="#FFDB57"/>
                                            <path d="M11.6133 8.89516H8.38681C8.21236 8.89516 8.07103 9.03656 8.07103 9.21094V10.4673H11.9291V9.21094C11.9291 9.03652 11.7877 8.89516 11.6133 8.89516Z" fill="#F5BA3D"/>
                                            <path d="M17.7114 3.06166C17.4018 2.25459 16.9132 1.46635 16.4045 0.953029C16.2178 0.764708 15.9665 0.66924 15.6803 0.675372C14.7322 0.697443 13.1872 1.8874 11.0883 4.21217C11.0358 4.27018 11.0068 4.34561 11.0068 4.42381V6.09416C11.0068 6.26858 11.1481 6.40994 11.3226 6.40994H16.1801C17.2625 6.40994 17.7092 5.88338 17.8933 5.44162C18.1389 4.85276 18.0743 4.00748 17.7114 3.06166Z" fill="#FFDB57"/>
                                            <path d="M17.8922 3.61189C17.8834 3.57947 17.8694 3.54865 17.8509 3.52064C17.3741 2.79967 16.3437 3.06943 15.5634 3.42268C13.2962 4.44893 12.36 5.86256 12.3212 5.92221C12.2581 6.01936 12.2533 6.14315 12.3086 6.24491C12.3638 6.34667 12.4703 6.40999 12.5861 6.40999H16.1803C16.869 6.40999 17.3797 6.19858 17.6983 5.78166C18.0768 5.28635 18.1438 4.53604 17.8922 3.61189Z" fill="#EF9325"/>
                                            <path d="M8.91168 4.21221C6.81273 1.88745 5.26773 0.697484 4.31961 0.675414C4.03273 0.669242 3.78207 0.76475 3.59543 0.95307C3.08676 1.46635 2.59816 2.25463 2.28855 3.0617C1.9257 4.00752 1.86105 4.85276 2.10652 5.4417C2.29066 5.88346 2.73734 6.41002 3.81973 6.41002H8.67727C8.85172 6.41002 8.99305 6.26862 8.99305 6.09424V4.42385C8.99309 4.34565 8.96414 4.27022 8.91168 4.21221Z" fill="#FFDB57"/>
                                            <path d="M7.67883 5.92217C7.64008 5.86252 6.70383 4.44885 4.43668 3.42264C3.65625 3.0694 2.62594 2.79975 2.1491 3.52057C2.13058 3.54862 2.11664 3.5794 2.10781 3.61186C1.85613 4.536 1.92324 5.28631 2.30172 5.78158C2.62027 6.1985 3.13101 6.4099 3.81976 6.4099H7.41398C7.52976 6.4099 7.63625 6.34658 7.69148 6.24482C7.74672 6.1431 7.74187 6.01932 7.67883 5.92217Z" fill="#EF9325"/>
                                            <path d="M11.3227 3.79591H8.67731C8.50286 3.79591 8.36153 3.93732 8.36153 4.11169V6.09423C8.36153 6.26865 8.50286 6.41001 8.67731 6.41001H11.3227C11.4972 6.41001 11.6385 6.26861 11.6385 6.09423V4.11169C11.6385 3.93728 11.4972 3.79591 11.3227 3.79591Z" fill="#F5BA3D"/>
                                            <path d="M19.6842 5.77902H0.315781C0.141328 5.77902 0 5.92043 0 6.0948V9.21094C0 9.38535 0.141328 9.52672 0.315781 9.52672H19.6842C19.8587 9.52672 20 9.38531 20 9.21094V6.0948C20 5.92039 19.8587 5.77902 19.6842 5.77902Z" fill="#F7434C"/>
                                            <path d="M12.4257 5.7789H7.57431V9.52667H12.4257V5.7789Z" fill="#FFDB57"/>
                                        </svg>
                                .request__content
                                    .request__location РОССИЯ, САНКТ-ПЕТЕРБУРГ
                                    .request__title Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    .request__introtext Совсем необязательно сегодня существует несколько вариантов 
                                        | lorem ipsum. Сегодня существует несколько вариантов lorem к обитателям 
                                        | водоемов такое. Этот, несмотря на кириллице значительно.
                                    .request__duration Осталось до окончания: 
                                        span.text-bold 5 дн. 18 часов
                                .request__favorites
                                    <svg x="0px" y="0px" viewBox="0 0 504.222 504.222" xml:space="preserve">
                                        <path class="path" d="M44.16,91.815c74.831-76.012,148.48-42.535,207.951,11.422c59.077-53.957,132.726-87.828,207.951-11.422c58.683,59.471,59.077,155.175,0,214.646c-98.855,90.585-150.449,137.452-177.625,162.265c-16.935,15.36-42.535,15.36-59.471,0c-27.175-24.418-79.163-71.68-178.806-162.265C-14.917,247.385-14.523,151.68,44.16,91.815z"/>
                                    </svg>
                            .request.request_no-preview
                                .row.align-items-center
                                    .col.request__image
                                        span.no-image ЮМ
                                    .col.request__info
                                        .request__author Анна Старовер
                                        .request__rating рейтинг пользователя — 4.8
                                        <svg class="icon-category" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M18.2759 7.59636V6.35137C18.277 5.94014 18.5851 5.60709 18.9655 5.60586C19.2436 5.6046 19.4937 5.42298 19.6 5.14523C19.7062 4.86748 19.6478 4.54793 19.4517 4.33477C19.324 4.19318 19.1485 4.1138 18.9655 4.11485H1.0345C0.756458 4.11611 0.506314 4.29773 0.400071 4.57548C0.293828 4.85323 0.352268 5.17278 0.54829 5.38594C0.676035 5.52753 0.851534 5.60691 1.0345 5.60586C1.41491 5.60709 1.72302 5.94014 1.72415 6.35137V7.59636H18.2759Z" fill="#805333"/>
                                            <path d="M16.5517 7.09689C18.4562 7.09689 20 8.76576 20 10.8244C20 12.8831 18.4562 14.5519 16.5517 14.5519H3.44828C1.54385 14.5519 0 12.8831 0 10.8244C0 8.76576 1.54385 7.09689 3.44828 7.09689H16.5517Z" fill="#A56A43"/>
                                            <path d="M3.44827 2.46841H16.5517V19.18H3.44827V2.46841Z" fill="#CB8252"/>
                                            <path d="M16.5517 1.5056V2.99661H3.44827V1.5056C3.44827 0.682135 4.06581 0.0145874 4.82758 0.0145874H15.1724C15.9342 0.0145874 16.5517 0.682135 16.5517 1.5056Z" fill="#A56A43"/>
                                            <path d="M16.5517 18.6522V20.1432C16.5517 20.9667 15.9342 21.6342 15.1724 21.6342H4.82758C4.06581 21.6342 3.44827 20.9667 3.44827 20.1432V18.6522H16.5517Z" fill="#A56A43"/>
                                            <path d="M15.1725 15.6702V16.4157C15.1713 16.8269 14.8632 17.16 14.4828 17.1612H13.1035V15.6702H15.1725Z" fill="#E4C05C"/>
                                            <path d="M11.0345 15.6702H13.1034V17.1612H11.0345V15.6702Z" fill="#E4C05C"/>
                                            <path d="M8.96555 15.6702H11.0345V17.1612H8.96555V15.6702Z" fill="#E4C05C"/>
                                            <path d="M6.89651 15.6702H8.96548V17.1612H6.89651V15.6702Z" fill="#E4C05C"/>
                                            <path d="M6.89658 15.6702V17.1612H5.51726C5.13685 17.16 4.82874 16.8269 4.82761 16.4157V15.6702H6.89658Z" fill="#E4C05C"/>
                                            <path d="M4.82761 13.8064H15.1724V15.6702H4.82761V13.8064Z" fill="#603E26"/>
                                            <path d="M6.89658 12.3154V13.8065H4.82761V13.0609C4.82874 12.6497 5.13685 12.3167 5.51726 12.3154H6.89658Z" fill="#E4C05C"/>
                                            <path d="M6.89651 12.3154H8.96548V13.8065H6.89651V12.3154Z" fill="#E4C05C"/>
                                            <path d="M11.0345 12.3154H13.1034V13.8065H11.0345V12.3154Z" fill="#E4C05C"/>
                                            <path d="M8.96555 12.3154H11.0345V13.8065H8.96555V12.3154Z" fill="#E4C05C"/>
                                            <path d="M15.1725 13.0609V13.8065H13.1035V12.3154H14.4828C14.8632 12.3167 15.1713 12.6497 15.1725 13.0609Z" fill="#E4C05C"/>
                                            <path d="M7.75863 10.0789H3.44827V5.23315H7.75863C8.99651 5.23315 10 6.31792 10 7.65604C10 8.99417 8.99651 10.0789 7.75863 10.0789Z" fill="#ECF0F1"/>
                                            <path d="M16.5517 10.0789H12.2414C11.0035 10.0789 10 8.99417 10 7.65604C10 6.31792 11.0035 5.23315 12.2414 5.23315H16.5517V10.0789Z" fill="#ECF0F1"/>
                                            <path d="M6.55174 10.0789C7.50396 10.0789 8.27588 8.99417 8.27588 7.65604C8.27588 6.31792 7.50396 5.23315 6.55174 5.23315C5.59953 5.23315 4.82761 6.31792 4.82761 7.65604C4.82761 8.99417 5.59953 10.0789 6.55174 10.0789Z" fill="#A59078"/>
                                            <path d="M6.5593 8.96061C6.936 8.96061 7.24137 8.62684 7.24137 8.21511C7.24137 7.80338 6.936 7.4696 6.5593 7.4696C6.1826 7.4696 5.87723 7.80338 5.87723 8.21511C5.87723 8.62684 6.1826 8.96061 6.5593 8.96061Z" fill="#5F5346"/>
                                            <path d="M13.4483 10.0789C14.4005 10.0789 15.1724 8.99417 15.1724 7.65604C15.1724 6.31792 14.4005 5.23315 13.4483 5.23315C12.4961 5.23315 11.7241 6.31792 11.7241 7.65604C11.7241 8.99417 12.4961 10.0789 13.4483 10.0789Z" fill="#A59078"/>
                                            <path d="M5.28967 21.6342L6.28278 20.2923C6.34823 20.2041 6.44716 20.1528 6.55175 20.1528C6.65633 20.1528 6.75526 20.2041 6.82071 20.2923L7.81382 21.6342H5.28967Z" fill="#805333"/>
                                            <path d="M8.73105 21.6342L9.73105 20.2849C9.79551 20.195 9.89481 20.1424 10 20.1424C10.1052 20.1424 10.2045 20.195 10.269 20.2849L11.269 21.6342H8.73105Z" fill="#805333"/>
                                            <path d="M12.1794 21.6342L13.1794 20.2849C13.2438 20.195 13.3431 20.1424 13.4483 20.1424C13.5535 20.1424 13.6528 20.195 13.7173 20.2849L14.7173 21.6342H12.1794Z" fill="#805333"/>
                                            <path d="M7.81382 0.0145874L6.82071 1.3565C6.75526 1.44468 6.65633 1.49599 6.55175 1.49599C6.44716 1.49599 6.34823 1.44468 6.28278 1.3565L5.28967 0.0145874H7.81382Z" fill="#805333"/>
                                            <path d="M11.269 0.0145874L10.269 1.36395C10.2045 1.45383 10.1052 1.50642 10 1.50642C9.89481 1.50642 9.79551 1.45383 9.73105 1.36395L8.73105 0.0145874L11.269 0.0145874Z" fill="#805333"/>
                                            <path d="M14.7173 0.0145874L13.7173 1.36395C13.6528 1.45383 13.5535 1.50642 13.4483 1.50642C13.3431 1.50642 13.2438 1.45383 13.1794 1.36395L12.1794 0.0145874L14.7173 0.0145874Z" fill="#805333"/>
                                            <path d="M1.72413 11.5699C1.53369 11.5699 1.3793 11.403 1.3793 11.1972V10.0789C1.3793 9.87306 1.53369 9.70618 1.72413 9.70618C1.91457 9.70618 2.06896 9.87306 2.06896 10.0789V11.1972C2.06896 11.403 1.91457 11.5699 1.72413 11.5699Z" fill="#603E26"/>
                                            <path d="M2.06894 10.4466H1.37928C1.18884 10.4466 1.03445 10.2808 1.03445 10.0764C1.03445 9.87192 1.18884 9.70618 1.37928 9.70618H2.06894C2.25938 9.70618 2.41376 9.87192 2.41376 10.0764C2.41376 10.2808 2.25938 10.4466 2.06894 10.4466Z" fill="#603E26"/>
                                            <path d="M18.2759 11.5699C18.0855 11.5699 17.9311 11.403 17.9311 11.1972V10.0789C17.9311 9.87306 18.0855 9.70618 18.2759 9.70618C18.4664 9.70618 18.6207 9.87306 18.6207 10.0789V11.1972C18.6207 11.403 18.4664 11.5699 18.2759 11.5699Z" fill="#603E26"/>
                                            <path d="M18.6207 10.4466H17.931C17.7406 10.4466 17.5862 10.2808 17.5862 10.0764C17.5862 9.87192 17.7406 9.70618 17.931 9.70618H18.6207C18.8111 9.70618 18.9655 9.87192 18.9655 10.0764C18.9655 10.2808 18.8111 10.4466 18.6207 10.4466Z" fill="#603E26"/>
                                            <path d="M8.15862 0.0145874C8.15862 0.188663 8.16931 0.128649 7.08965 1.5876C6.96002 1.7657 6.76219 1.86998 6.55255 1.8707C6.34292 1.87143 6.14447 1.76853 6.01379 1.59133C4.94793 0.146914 4.94482 0.190899 4.94482 0.0145874H5.73103L6.55172 1.12539L7.37241 0.0145874H8.15862Z" fill="#F29C1F"/>
                                            <path d="M11.6138 0.0145874C11.6138 0.189408 11.6227 0.130886 10.5379 1.59879C10.4066 1.77608 10.2076 1.87897 9.99743 1.87824C9.78729 1.87751 9.58893 1.77326 9.45861 1.59506C8.39206 0.151015 8.3862 0.192018 8.3862 0.0145874H9.17241L9.99999 1.13284L10.8276 0.0145874H11.6138Z" fill="#F29C1F"/>
                                            <path d="M15.0621 0.0145874C15.0621 0.189408 15.071 0.130886 13.9862 1.59879C13.8548 1.77608 13.6559 1.87897 13.4457 1.87824C13.2356 1.87751 13.0372 1.77326 12.9069 1.59506C11.8404 0.151015 11.8345 0.192018 11.8345 0.0145874H12.6207L13.4483 1.13284L14.2759 0.0145874H15.0621Z" fill="#F29C1F"/>
                                            <path d="M8.15859 21.6342H7.37239L6.5517 20.5234L5.73101 21.6342H4.9448C4.9448 21.4602 4.93411 21.5202 6.01377 20.0612C6.14801 19.8913 6.34417 19.7931 6.55091 19.7924C6.75764 19.7916 6.95438 19.8885 7.08963 20.0575C8.15549 21.5019 8.15859 21.4579 8.15859 21.6342Z" fill="#F29C1F"/>
                                            <path d="M11.6138 21.6342H10.8276L10 20.5159L9.17244 21.6342H8.38623C8.38624 21.4594 8.37727 21.5179 9.4621 20.05C9.59762 19.8801 9.79505 19.7828 10.0025 19.7835C10.21 19.7842 10.4069 19.8829 10.5414 20.0537C11.608 21.4978 11.6138 21.4568 11.6138 21.6342Z" fill="#F29C1F"/>
                                            <path d="M15.062 21.6342H14.2758L13.4482 20.5159L12.6207 21.6342H11.8344C11.8344 21.4594 11.8255 21.5179 12.9103 20.05C13.0458 19.8801 13.2433 19.7828 13.4508 19.7835C13.6583 19.7842 13.8551 19.8829 13.9896 20.0537C15.0562 21.4978 15.062 21.4568 15.062 21.6342Z" fill="#F29C1F"/>
                                            <path d="M6.55174 15.6702H7.2414V17.1612H6.55174V15.6702Z" fill="#B19046"/>
                                            <path d="M8.62071 15.6702H9.31037V17.1612H8.62071V15.6702Z" fill="#B19046"/>
                                            <path d="M10.6897 15.6702H11.3793V17.1612H10.6897V15.6702Z" fill="#B19046"/>
                                            <path d="M12.7586 15.6702H13.4482V17.1612H12.7586V15.6702Z" fill="#B19046"/>
                                            <path d="M6.55174 12.3154H7.2414V13.8065H6.55174V12.3154Z" fill="#B19046"/>
                                            <path d="M8.62071 12.3154H9.31037V13.8065H8.62071V12.3154Z" fill="#B19046"/>
                                            <path d="M10.6897 12.3154H11.3793V13.8065H10.6897V12.3154Z" fill="#B19046"/>
                                            <path d="M12.7586 12.3154H13.4482V13.8065H12.7586V12.3154Z" fill="#B19046"/>
                                            <path d="M13.4407 8.96061C13.8174 8.96061 14.1227 8.62684 14.1227 8.21511C14.1227 7.80338 13.8174 7.4696 13.4407 7.4696C13.064 7.4696 12.7586 7.80338 12.7586 8.21511C12.7586 8.62684 13.064 8.96061 13.4407 8.96061Z" fill="#5F5346"/>
                                        </svg>
                                .request__content
                                    .request__location РОССИЯ, САНКТ-ПЕТЕРБУРГ
                                    .request__title Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    .request__duration Осталось до окончания: 
                                        span.text-bold 5 дн. 18 часов
                                    .request__introtext Совсем необязательно сегодня существует несколько вариантов 
                                        | lorem ipsum. Сегодня существует несколько вариантов lorem к обитателям 
                                        | водоемов такое. Этот, несмотря на кириллице значительно.
                                    .request__price 122 ZZ
                                .request__favorites 
                                    <svg x="0px" y="0px" viewBox="0 0 504.222 504.222" xml:space="preserve">
                                        <path class="path" d="M44.16,91.815c74.831-76.012,148.48-42.535,207.951,11.422c59.077-53.957,132.726-87.828,207.951-11.422c58.683,59.471,59.077,155.175,0,214.646c-98.855,90.585-150.449,137.452-177.625,162.265c-16.935,15.36-42.535,15.36-59.471,0c-27.175-24.418-79.163-71.68-178.806-162.265C-14.917,247.385-14.523,151.68,44.16,91.815z"/>
                                    </svg>                       
                            .request.request_no-preview.request_last
                                .row.align-items-center
                                    .col.request__image
                                        span.no-image ЮМ
                                    .col.request__info
                                        .request__author Анна Старовер
                                        .request__rating рейтинг пользователя — 4.8
                                        <svg class="icon-category" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M18.2759 7.59636V6.35137C18.277 5.94014 18.5851 5.60709 18.9655 5.60586C19.2436 5.6046 19.4937 5.42298 19.6 5.14523C19.7062 4.86748 19.6478 4.54793 19.4517 4.33477C19.324 4.19318 19.1485 4.1138 18.9655 4.11485H1.0345C0.756458 4.11611 0.506314 4.29773 0.400071 4.57548C0.293828 4.85323 0.352268 5.17278 0.54829 5.38594C0.676035 5.52753 0.851534 5.60691 1.0345 5.60586C1.41491 5.60709 1.72302 5.94014 1.72415 6.35137V7.59636H18.2759Z" fill="#805333"/>
                                            <path d="M16.5517 7.09689C18.4562 7.09689 20 8.76576 20 10.8244C20 12.8831 18.4562 14.5519 16.5517 14.5519H3.44828C1.54385 14.5519 0 12.8831 0 10.8244C0 8.76576 1.54385 7.09689 3.44828 7.09689H16.5517Z" fill="#A56A43"/>
                                            <path d="M3.44827 2.46841H16.5517V19.18H3.44827V2.46841Z" fill="#CB8252"/>
                                            <path d="M16.5517 1.5056V2.99661H3.44827V1.5056C3.44827 0.682135 4.06581 0.0145874 4.82758 0.0145874H15.1724C15.9342 0.0145874 16.5517 0.682135 16.5517 1.5056Z" fill="#A56A43"/>
                                            <path d="M16.5517 18.6522V20.1432C16.5517 20.9667 15.9342 21.6342 15.1724 21.6342H4.82758C4.06581 21.6342 3.44827 20.9667 3.44827 20.1432V18.6522H16.5517Z" fill="#A56A43"/>
                                            <path d="M15.1725 15.6702V16.4157C15.1713 16.8269 14.8632 17.16 14.4828 17.1612H13.1035V15.6702H15.1725Z" fill="#E4C05C"/>
                                            <path d="M11.0345 15.6702H13.1034V17.1612H11.0345V15.6702Z" fill="#E4C05C"/>
                                            <path d="M8.96555 15.6702H11.0345V17.1612H8.96555V15.6702Z" fill="#E4C05C"/>
                                            <path d="M6.89651 15.6702H8.96548V17.1612H6.89651V15.6702Z" fill="#E4C05C"/>
                                            <path d="M6.89658 15.6702V17.1612H5.51726C5.13685 17.16 4.82874 16.8269 4.82761 16.4157V15.6702H6.89658Z" fill="#E4C05C"/>
                                            <path d="M4.82761 13.8064H15.1724V15.6702H4.82761V13.8064Z" fill="#603E26"/>
                                            <path d="M6.89658 12.3154V13.8065H4.82761V13.0609C4.82874 12.6497 5.13685 12.3167 5.51726 12.3154H6.89658Z" fill="#E4C05C"/>
                                            <path d="M6.89651 12.3154H8.96548V13.8065H6.89651V12.3154Z" fill="#E4C05C"/>
                                            <path d="M11.0345 12.3154H13.1034V13.8065H11.0345V12.3154Z" fill="#E4C05C"/>
                                            <path d="M8.96555 12.3154H11.0345V13.8065H8.96555V12.3154Z" fill="#E4C05C"/>
                                            <path d="M15.1725 13.0609V13.8065H13.1035V12.3154H14.4828C14.8632 12.3167 15.1713 12.6497 15.1725 13.0609Z" fill="#E4C05C"/>
                                            <path d="M7.75863 10.0789H3.44827V5.23315H7.75863C8.99651 5.23315 10 6.31792 10 7.65604C10 8.99417 8.99651 10.0789 7.75863 10.0789Z" fill="#ECF0F1"/>
                                            <path d="M16.5517 10.0789H12.2414C11.0035 10.0789 10 8.99417 10 7.65604C10 6.31792 11.0035 5.23315 12.2414 5.23315H16.5517V10.0789Z" fill="#ECF0F1"/>
                                            <path d="M6.55174 10.0789C7.50396 10.0789 8.27588 8.99417 8.27588 7.65604C8.27588 6.31792 7.50396 5.23315 6.55174 5.23315C5.59953 5.23315 4.82761 6.31792 4.82761 7.65604C4.82761 8.99417 5.59953 10.0789 6.55174 10.0789Z" fill="#A59078"/>
                                            <path d="M6.5593 8.96061C6.936 8.96061 7.24137 8.62684 7.24137 8.21511C7.24137 7.80338 6.936 7.4696 6.5593 7.4696C6.1826 7.4696 5.87723 7.80338 5.87723 8.21511C5.87723 8.62684 6.1826 8.96061 6.5593 8.96061Z" fill="#5F5346"/>
                                            <path d="M13.4483 10.0789C14.4005 10.0789 15.1724 8.99417 15.1724 7.65604C15.1724 6.31792 14.4005 5.23315 13.4483 5.23315C12.4961 5.23315 11.7241 6.31792 11.7241 7.65604C11.7241 8.99417 12.4961 10.0789 13.4483 10.0789Z" fill="#A59078"/>
                                            <path d="M5.28967 21.6342L6.28278 20.2923C6.34823 20.2041 6.44716 20.1528 6.55175 20.1528C6.65633 20.1528 6.75526 20.2041 6.82071 20.2923L7.81382 21.6342H5.28967Z" fill="#805333"/>
                                            <path d="M8.73105 21.6342L9.73105 20.2849C9.79551 20.195 9.89481 20.1424 10 20.1424C10.1052 20.1424 10.2045 20.195 10.269 20.2849L11.269 21.6342H8.73105Z" fill="#805333"/>
                                            <path d="M12.1794 21.6342L13.1794 20.2849C13.2438 20.195 13.3431 20.1424 13.4483 20.1424C13.5535 20.1424 13.6528 20.195 13.7173 20.2849L14.7173 21.6342H12.1794Z" fill="#805333"/>
                                            <path d="M7.81382 0.0145874L6.82071 1.3565C6.75526 1.44468 6.65633 1.49599 6.55175 1.49599C6.44716 1.49599 6.34823 1.44468 6.28278 1.3565L5.28967 0.0145874H7.81382Z" fill="#805333"/>
                                            <path d="M11.269 0.0145874L10.269 1.36395C10.2045 1.45383 10.1052 1.50642 10 1.50642C9.89481 1.50642 9.79551 1.45383 9.73105 1.36395L8.73105 0.0145874L11.269 0.0145874Z" fill="#805333"/>
                                            <path d="M14.7173 0.0145874L13.7173 1.36395C13.6528 1.45383 13.5535 1.50642 13.4483 1.50642C13.3431 1.50642 13.2438 1.45383 13.1794 1.36395L12.1794 0.0145874L14.7173 0.0145874Z" fill="#805333"/>
                                            <path d="M1.72413 11.5699C1.53369 11.5699 1.3793 11.403 1.3793 11.1972V10.0789C1.3793 9.87306 1.53369 9.70618 1.72413 9.70618C1.91457 9.70618 2.06896 9.87306 2.06896 10.0789V11.1972C2.06896 11.403 1.91457 11.5699 1.72413 11.5699Z" fill="#603E26"/>
                                            <path d="M2.06894 10.4466H1.37928C1.18884 10.4466 1.03445 10.2808 1.03445 10.0764C1.03445 9.87192 1.18884 9.70618 1.37928 9.70618H2.06894C2.25938 9.70618 2.41376 9.87192 2.41376 10.0764C2.41376 10.2808 2.25938 10.4466 2.06894 10.4466Z" fill="#603E26"/>
                                            <path d="M18.2759 11.5699C18.0855 11.5699 17.9311 11.403 17.9311 11.1972V10.0789C17.9311 9.87306 18.0855 9.70618 18.2759 9.70618C18.4664 9.70618 18.6207 9.87306 18.6207 10.0789V11.1972C18.6207 11.403 18.4664 11.5699 18.2759 11.5699Z" fill="#603E26"/>
                                            <path d="M18.6207 10.4466H17.931C17.7406 10.4466 17.5862 10.2808 17.5862 10.0764C17.5862 9.87192 17.7406 9.70618 17.931 9.70618H18.6207C18.8111 9.70618 18.9655 9.87192 18.9655 10.0764C18.9655 10.2808 18.8111 10.4466 18.6207 10.4466Z" fill="#603E26"/>
                                            <path d="M8.15862 0.0145874C8.15862 0.188663 8.16931 0.128649 7.08965 1.5876C6.96002 1.7657 6.76219 1.86998 6.55255 1.8707C6.34292 1.87143 6.14447 1.76853 6.01379 1.59133C4.94793 0.146914 4.94482 0.190899 4.94482 0.0145874H5.73103L6.55172 1.12539L7.37241 0.0145874H8.15862Z" fill="#F29C1F"/>
                                            <path d="M11.6138 0.0145874C11.6138 0.189408 11.6227 0.130886 10.5379 1.59879C10.4066 1.77608 10.2076 1.87897 9.99743 1.87824C9.78729 1.87751 9.58893 1.77326 9.45861 1.59506C8.39206 0.151015 8.3862 0.192018 8.3862 0.0145874H9.17241L9.99999 1.13284L10.8276 0.0145874H11.6138Z" fill="#F29C1F"/>
                                            <path d="M15.0621 0.0145874C15.0621 0.189408 15.071 0.130886 13.9862 1.59879C13.8548 1.77608 13.6559 1.87897 13.4457 1.87824C13.2356 1.87751 13.0372 1.77326 12.9069 1.59506C11.8404 0.151015 11.8345 0.192018 11.8345 0.0145874H12.6207L13.4483 1.13284L14.2759 0.0145874H15.0621Z" fill="#F29C1F"/>
                                            <path d="M8.15859 21.6342H7.37239L6.5517 20.5234L5.73101 21.6342H4.9448C4.9448 21.4602 4.93411 21.5202 6.01377 20.0612C6.14801 19.8913 6.34417 19.7931 6.55091 19.7924C6.75764 19.7916 6.95438 19.8885 7.08963 20.0575C8.15549 21.5019 8.15859 21.4579 8.15859 21.6342Z" fill="#F29C1F"/>
                                            <path d="M11.6138 21.6342H10.8276L10 20.5159L9.17244 21.6342H8.38623C8.38624 21.4594 8.37727 21.5179 9.4621 20.05C9.59762 19.8801 9.79505 19.7828 10.0025 19.7835C10.21 19.7842 10.4069 19.8829 10.5414 20.0537C11.608 21.4978 11.6138 21.4568 11.6138 21.6342Z" fill="#F29C1F"/>
                                            <path d="M15.062 21.6342H14.2758L13.4482 20.5159L12.6207 21.6342H11.8344C11.8344 21.4594 11.8255 21.5179 12.9103 20.05C13.0458 19.8801 13.2433 19.7828 13.4508 19.7835C13.6583 19.7842 13.8551 19.8829 13.9896 20.0537C15.0562 21.4978 15.062 21.4568 15.062 21.6342Z" fill="#F29C1F"/>
                                            <path d="M6.55174 15.6702H7.2414V17.1612H6.55174V15.6702Z" fill="#B19046"/>
                                            <path d="M8.62071 15.6702H9.31037V17.1612H8.62071V15.6702Z" fill="#B19046"/>
                                            <path d="M10.6897 15.6702H11.3793V17.1612H10.6897V15.6702Z" fill="#B19046"/>
                                            <path d="M12.7586 15.6702H13.4482V17.1612H12.7586V15.6702Z" fill="#B19046"/>
                                            <path d="M6.55174 12.3154H7.2414V13.8065H6.55174V12.3154Z" fill="#B19046"/>
                                            <path d="M8.62071 12.3154H9.31037V13.8065H8.62071V12.3154Z" fill="#B19046"/>
                                            <path d="M10.6897 12.3154H11.3793V13.8065H10.6897V12.3154Z" fill="#B19046"/>
                                            <path d="M12.7586 12.3154H13.4482V13.8065H12.7586V12.3154Z" fill="#B19046"/>
                                            <path d="M13.4407 8.96061C13.8174 8.96061 14.1227 8.62684 14.1227 8.21511C14.1227 7.80338 13.8174 7.4696 13.4407 7.4696C13.064 7.4696 12.7586 7.80338 12.7586 8.21511C12.7586 8.62684 13.064 8.96061 13.4407 8.96061Z" fill="#5F5346"/>
                                        </svg>
                                .request__content
                                    .request__location РОССИЯ, САНКТ-ПЕТЕРБУРГ
                                    .request__title Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    .request__duration Осталось до окончания: 
                                        span.text-bold 5 дн. 18 часов
                                    .request__introtext Совсем необязательно сегодня существует несколько вариантов 
                                        | lorem ipsum. Сегодня существует несколько вариантов lorem к обитателям 
                                        | водоемов такое. Этот, несмотря на кириллице значительно.
                                    .request__price 122 ZZ
                                .request__favorites
                                    <svg x="0px" y="0px" viewBox="0 0 504.222 504.222" xml:space="preserve">
                                        <path class="path" d="M44.16,91.815c74.831-76.012,148.48-42.535,207.951,11.422c59.077-53.957,132.726-87.828,207.951-11.422c58.683,59.471,59.077,155.175,0,214.646c-98.855,90.585-150.449,137.452-177.625,162.265c-16.935,15.36-42.535,15.36-59.471,0c-27.175-24.418-79.163-71.68-178.806-162.265C-14.917,247.385-14.523,151.68,44.16,91.815z"/>
                                    </svg>
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js")
        script(src="./js/app.min.js")