html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Request Inside Page

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside.bg-white
                .wrap-fluid.pt-30.pt-xl-60.pb-30.pb-xl-60
                    .line.justify-content-between
                        .column-12.column-xl-7.column-lg-8.column-md-7
                            h1.text-bold Спеть песню "Калинка-малинка" возле Эйфелевой башни
                            .person.mb-30.mb-xl-60
                                .person__image
                                    span.no-image AC
                                .person__info
                                    .person__author Анна Старовер
                                    .person__rating рейтинг пользователя — 4.8
                            p Id est laborum et molestiae non provident, similique sunt in ea commodi. Qui ratione voluptatem sequi nesciunt, neque porro. Voluptatibus maiores alias consequatur. Dolor repellendus molestiae consequatur, vel eum fugiat, quo voluptas assumenda.
                                | Lorem ipsum dolor sit amet. Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea voluptate velit. Eligendi optio, cumque nihil molestiae. Accusamus et accusamus et expedita distinctio libero tempore. Temporibus autem vel illum, qui ratione.
                            ul
                                li Item 1
                                li Item 2
                                li Item 3
                                li Item 4
                            .request-inside
                                p.text-bold Требования к исполнителю:
                                .line.no-gutters
                                    .column-12.column-lg-6
                                        .alert.alert_small.alert_brnr-lg
                                            span.alert__icon.alert__icon_star.text-bold Минимальный рейтинг:
                                            span 4.2
                                    .column-12.column-lg-6.mt-15.mt-lg-0
                                        .alert.alert_small.alert_brnl-lg
                                            span.alert__icon.alert__icon_request.text-bold Исполнено заявок:
                                            span не менее 5
                                    .column-12.column-xl-12.mt-15
                                        .alert.alert_active.alert_small
                                            span.alert__icon.alert__icon_person.text-bold Откликнулось на заявку:
                                            span.text-bold 4 исполнителя
                        .column-12.column-xl-4.column-lg-4.column-md-5
                            .request-info
                                a.btn.btn_modal-info(href="#") Схема работы
                                p.request-info__label.text-bold Награда
                                p.request-info__price 100 zz
                                p.request-info__price 15000 р.
                                p.request-info__text здесь писать о нематериальном вознаграждении: пользовательский текст, кол-во символов ограничить (< 110)
                                p.request-info__label.text-bold Осталось до окончания
                                p.request-info__duration 18 дн. 4 ч.
                                p.request-info__label.text-bold Статус заявки
                                // mb-0 это для демонстрации, чтобы отступы не мешали смотреть
                                p.request-info__status.request-info__status--publish опубликована
                                p.request-info__status.request-info__status--active активна
                                p.request-info__status.request-info__status--process в процессе
                                p.request-info__status.request-info__status--check на проверке
                                p.request-info__status.request-info__status--end завершена
                                p.request-info__label.text-bold Место выполнения
                                p.request-info__location Россия, Санкт-Петербург
                                
                                a.btn.btn_cta.btn_large.btn_fullwidth(href="#") Стать исполнителем
                                a.btn.btn_border.btn_large.btn_fullwidth(href="#") Отменить отклик
                                p.mt-30.text-bold Bootstrap Button
                                a.btn.btn-primary.btn_fullwidth.btn_large(href="#") Primary
                                a.btn.btn-secondary.btn_fullwidth.btn_large(href="#") Secondary
                                a.btn.btn-success.btn_fullwidth.btn_large(href="#") Success
                                a.btn.btn-danger.btn_fullwidth.btn_large(href="#") Danger
                                a.btn.btn-warning.btn_fullwidth.btn_large(href="#") Warning
                                a.btn.btn-info.btn_fullwidth.btn_large(href="#") Info
                                a.btn.btn-light.btn_fullwidth.btn_large(href="#") Light
                                a.btn.btn-dark.btn_fullwidth.btn_large(href="#") Dark
                            .text-center.mt-15
                                a.text-small.text-grey(href="#") Пожаловаться на заявку
                        .column-12.column-xl-7.column-lg-8
                            .request-tabs
                                .nav.navigation#requestTab(role="tablist")
                                    a.nav__link.active(id="type1-tab" data-toggle="tab" href="#type1" role="tab" aria-controls="type1" aria-selected="true") ОБСУЖДЕНИЕ ЗАЯВКИ
                                    a.nav__link(id="type2-tab" data-toggle="tab" href="#type2" role="tab" aria-controls="type2" aria-selected="false") ВЫБОР ИСПОЛНИТЕЛЯ
                                        span.alert 4
                                .tab-content#requestContent
                                    .tab-pane.fade.active.show#type1(role="tabpanel" aria-labelledby="type1-tab")
                                        .message.message_inside
                                            .message__row.line
                                                .column.message__image
                                                    span.image(style="background-image: url('../img/demo-photo.png');")
                                                .column.message__info
                                                    .message__name Катерина Мельник       
                                                    .message__data 7 сентября 2019
                                                    .message__item Самый опасный, и психологическом комфорте ими 
                                                        | раньше разобраться в привычках взглядах. Во время 
                                                        | которых супруги привыкают друг к ссоры. Для кого 
                                                        | не те, что были раньше, значит, они начинают. 
                                                    .message__item Самый опасный, и психологическом комфорте ими 
                                                        | раньше разобраться в привычках взглядах. Во время 
                                                        | которых супруги привыкают друг к ссоры. Для кого 
                                                        | не те, что были раньше, значит, они начинают. 
                                                    .message__data 13 сентября 2019
                                                    .message__item Самый опасный, и психологическом комфорте ими 
                                                        | раньше разобраться в привычках взглядах.
                                            .message__row.message__row_answer.line
                                                .column.message__info
                                                    .message__name Юрий Мартынов       
                                                    .message__data 27 сентября 2019
                                                    .message__item Ориентированных на сайтах и слова. Разной частотой, имеется разница в книгопечатанииdiv
                                                .column.message__image
                                                    span.no-image ЮМ
                                        .message-answer
                                            form.form
                                                textarea.textarea.textarea_message(rows="2" placeholder="Сообщение")
                                                button.btn.btn_message
                                        p.text-right.text-small.text-grey.mt-15 Принимаются файлы формата: gif, png, jpg, jpeg
                                    .tab-pane.fade#type2(role="tabpanel" aria-labelledby="type2-tab")
                                        .person-list
                                            .line
                                                .column-12.column-sm-6.column-md-7.column-lg-8
                                                    .person
                                                        .person__image
                                                            span.no-image AC
                                                        .person__info
                                                            .person__author Анна Старовер
                                                            .person__rating рейтинг пользователя: 
                                                                span.text-bold 4.8                                                
                                                            .person__rating выполнено заявок: 
                                                                span.text-bold 21                                                
                                                .column-12.mt-15.mt-sm-0.column-sm-6.column-md-5.column-lg-4.text-small.text-bold
                                                    a.btn.btn_border.btn_fullwidth(href="#") Написать сообщение
                                                    a.btn.btn_request.btn_fullwidth(href="#") Назначить исполнителем
                                        .person-list
                                            .line
                                                .column-12.column-sm-6.column-md-7.column-lg-8
                                                    .person
                                                        .person__image
                                                            span.no-image AC
                                                        .person__info
                                                            .person__author Анна Старовер
                                                            .person__rating рейтинг пользователя: 
                                                                span.text-bold 4.8                                                
                                                            .person__rating выполнено заявок: 
                                                                span.text-bold 21
                                                .column-12.mt-15.mt-sm-0.column-sm-6.column-md-5.column-lg-4.text-small.text-bold
                                                    a.btn.btn_border.btn_fullwidth(href="#") Написать сообщение
                                                    a.btn.btn_request.btn_fullwidth(href="#") Назначить исполнителем                      
            include chunks/footer.pug
        script(src="./js/util.js")
        script(src="./js/tab.js")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")