html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cabinet Page

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css", rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')
    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        .wrap-fluid.wrap_cabinet
            .line
                .column-12.column-xl-3.column-lg-4.column-md-5.cabinet-sidebar
                    include chunks/cabinet-sidebar.pug
                .column-12.column-xl-9.column-lg-8.column-md-7.cabinet-content
                    .cabinet-block.cabinet-block_alert
                        .line.align-items-center
                            .column-12.column-lg-6.column-xl-8.text-lg-left
                                p.mb-0 Отличный день! Самое время кому-то помочь
                            .column-12.column-lg-6.column-xl-4.text-lg-right
                                a.btn.btn_white(href="#") Создать заявку
                    .cabinet-block.cabinet-block_filter
                        .nav.tabs(role="tablist")
                            a.tabs__item.nav__link.active(id="type1-tab" data-toggle="tab" href="#type1" role="tab" aria-controls="type1" aria-selected="true") Заказчик
                            a.tabs__item.nav__link(id="type2-tab" data-toggle="tab" href="#type2" role="tab" aria-controls="type2" aria-selected="false") Исполнитель
                            a.tabs__item.nav__link(id="type3-tab" data-toggle="tab" href="#type3" role="tab" aria-controls="type3" aria-selected="false") Избранное
                        .tab-content
                            .tab-pane.fade.active.show#type1(role="tabpanel" aria-labelledby="type1-tab")
                                .navigation-scroll
                                    .navigation.btn-group.justify-content-md-center
                                        select.basic-select(name="place")
                                            option(value="Любой город") Фильтр 1
                                            option(value="1") Москва
                                            option(value="2") Санкт-Петербург
                                        select.basic-select(name="place")
                                            option(value="Любой город") Фильтр 2
                                            option(value="1") Москва
                                            option(value="2") Санкт-Петербург
                                        select.basic-select(name="place")
                                            option(value="Любой город") Фильтр 3
                                            option(value="1") Москва
                                            option(value="2") Санкт-Петербург
                            .tab-pane.fade#type2(role="tabpanel" aria-labelledby="type2-tab")
                                p 2
                    .request-block
                        .request-column
                            .request
                                .request__image-preview
                                    .request__price.request__price_zz 122 ZZ
                                .line.align-items-center
                                    .column.request__image
                                        span.image(style="background-image: url('../img/demo-photo.png')")
                                    .column.request__info
                                        .request__author Анна Старовер
                                        .request__rating рейтинг пользователя — 4.8
                                        .icon-category.icon-category_mask
                                .request__content
                                    .request__location РОССИЯ, САНКТ-ПЕТЕРБУРГ
                                    .request__title Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    .request__introtext Совсем необязательно сегодня существует несколько вариантов 
                                        | lorem ipsum. Сегодня существует несколько вариантов lorem к обитателям 
                                        | водоемов такое. Этот, несмотря на кириллице значительно.
                                    .request__duration Осталось до окончания: 
                                        span.text-bold 5 дн. 18 часов
                            .request.request_no-preview
                                .line
                                    .column.request__image
                                        span.no-image ЮМ
                                    .column.request__info
                                        .request__author Анна Старовер
                                        .request__rating рейтинг пользователя — 4.8
                                        .icon-category.icon-category_gift
                                .request__content
                                    .request__location РОССИЯ, САНКТ-ПЕТЕРБУРГ
                                    .request__duration Осталось до окончания: 
                                        span.text-bold 5 дн. 18 часов
                                    .request__title Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    .request__introtext Совсем необязательно сегодня существует несколько вариантов 
                                        | lorem ipsum. Сегодня существует несколько вариантов lorem к обитателям 
                                        | водоемов такое. Этот, несмотря на кириллице значительно.
                                    .request__price.request__price_zz 122 ZZ
                            .request.request_no-preview
                                .line
                                    .column.request__image
                                        span.no-image ЮМ
                                    .column.request__info
                                        .request__author Анна Старовер
                                        .request__rating рейтинг пользователя — 4.8
                                        .icon-category.icon-category_hand
                                .request__content
                                    .request__location РОССИЯ, САНКТ-ПЕТЕРБУРГ
                                    .request__duration Осталось до окончания: 
                                        span.text-bold 5 дн. 18 часов
                                    .request__title Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    .request__introtext Совсем необязательно сегодня существует несколько вариантов 
                                        | lorem ipsum. Сегодня существует несколько вариантов lorem к обитателям 
                                        | водоемов такое. Этот, несмотря на кириллице значительно.
                                    .request__price.request__price_zz 122 ZZ
                            .request
                                .request__image-preview(style="background-image:url(../img/image-6.jpg)")
                                    .request__price.request__price_zz 122 ZZ
                                .line.align-items-center
                                    .column.request__image
                                        span.no-image AC
                                    .column.request__info
                                        .request__author Анна Старовер
                                        .request__rating рейтинг пользователя — 4.8
                                        .icon-category.icon-category_heart
                                .request__content
                                    .request__location РОССИЯ, САНКТ-ПЕТЕРБУРГ
                                    .request__title Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    .request__introtext Совсем необязательно сегодня существует несколько вариантов 
                                        | lorem ipsum. Сегодня существует несколько вариантов lorem к обитателям 
                                        | водоемов такое. Этот, несмотря на кириллице значительно.
                                    .request__duration Осталось до окончания: 
                                        span.text-bold 5 дн. 18 часов
        include chunks/footer.pug
        script(src="./js/util.js")
        script(src="./js/tab.js")
        script(src="./js/jquery.inputmask.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js")
        script(src="./js/app.min.js")