html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cabinet Page
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .title-block.bg-white
                    .wrap.pt-30.pb-30
                        h1.text-bold Правила проекта
                        ul.breadcrumbs
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="#") Главная
                            li.breadcrumbs__item
                                span.breadcrumbs__current Текстовая страница
                        p Lorem ipsum dolor sit amet. Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea voluptate velit. Eligendi optio, cumque nihil molestiae. Accusamus et accusamus et expedita distinctio libero tempore. Temporibus autem vel illum, qui ratione.
                        h2.text-bold Заголовок h2
                        p Id est laborum et molestiae non provident, similique sunt in ea commodi. Qui ratione voluptatem sequi nesciunt, neque porro. Voluptatibus maiores alias consequatur. Dolor repellendus molestiae consequatur, vel eum fugiat, quo voluptas assumenda.
                            | Lorem ipsum dolor sit amet. Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea voluptate velit. Eligendi optio, cumque nihil molestiae. Accusamus et accusamus et expedita distinctio libero tempore. Temporibus autem vel illum, qui ratione.
                        h3.text-bold Заголовок h3
                        p Id est laborum et molestiae non provident, similique sunt in ea commodi. Qui ratione voluptatem sequi nesciunt, neque porro. Voluptatibus maiores alias consequatur. Dolor repellendus molestiae consequatur, vel eum fugiat, quo voluptas assumenda.
                        h4.text-bold Заголовок h4
                        p Lorem ipsum dolor sit amet. Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea voluptate velit. Eligendi optio, cumque nihil molestiae. Accusamus et accusamus et expedita distinctio libero tempore. Temporibus autem vel illum, qui ratione.
                        h5.text-bold Заголовок h5
                        p Lorem ipsum dolor sit amet. Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea voluptate velit. Eligendi optio, cumque nihil molestiae. Accusamus et accusamus et expedita distinctio libero tempore. Temporibus autem vel illum, qui ratione.
                            | Lorem ipsum dolor sit amet. Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea voluptate velit. Eligendi optio, cumque nihil molestiae. Accusamus et accusamus et expedita distinctio libero tempore. Temporibus autem vel illum, qui ratione.
                        h6.text-bold Заголовок h6
                        p Id est laborum et molestiae non provident, similique sunt in ea commodi. Qui ratione voluptatem sequi nesciunt, neque porro. Voluptatibus maiores alias consequatur. Dolor repellendus molestiae consequatur, vel eum fugiat, quo voluptas assumenda.
            include chunks/footer.pug
        script(src="./js/util.js")
        script(src="./js/tab.js")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")