html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cabinet Page

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .title-block.bg-white
                    .wrap.pt-30.pb-30
                        h1.text-bold Первый сервис взаимопомощи
                        ul.breadcrumbs
                            li.breadcrumbs__item
                                a.breadcrumbs__link(href="#") Главная
                            li.breadcrumbs__item
                                span.breadcrumbs__current Первый сервис взаимопомощи
                        p Elzzup – инновационный сервис взаимопомощи в России и за рубежом. Теперь, чтобы получить какую-либо услугу, вовсе не обязательно платить деньги, оплатой моет стать оказание помощи в ответ. 
                        h2.text-bold Как работает сервис? 
                        p Для создания заявки, а также для предоставления услуг необходимо пройти регистрацию. После этой простой процедуры вы сможете опробовать безграничные возможности, которые предлагает Elzzup. 
                        img(src="../img/image-demo-4.jpg")
                        h3.text-bold Как стать заказчиком
                        p В личном кабинете вы легко сможете создать заявку, для этого необходимо заполнить обязательные поля: 
                        ul
                            li Выбрать тип заявки из выпадающего списка;
                            li Указать место исполнения;
                            li Добавить описание того, что нужно сделать исполнителю. 
                        p Также вы можете указать в комментариях, если к заданию есть дополнительные требования. 
                        p Всё сделали? Отлично! Заявка получит статус «Опубликовано» и вы увидите её в личном кабинете, где есть возможность редактировать сроки и отслеживать статус.
                        h3.text-bold Как стать исполнителем
                        p Для отклика на интересующую заявку необходимо войти в систему или зарегистрироваться, если у вас еще нет учетной записи на сайте. 
                        p Просматривайте актуальные предложения, откликайтесь на понравившиеся поручения и выполняйте задания. 
                        p В разделе «Заявки» найдите подходящие задачи, отсортировав их по типу поручения и местоположению. На каждую заявку вы можете оставить отклик, главное - соответствовать указанным требованиям. Чтобы уточнить детали, оставляйте комментарии и вопросы на странице. Сообщения будет видеть только заказчик.
                        h4.text-bold Внутренняя валюта
                        p Для взаимодействия заказчиков и исполнителей на сервисе действует внутренняя валюта. При создании и исполнении поручений предполагается возмещение в размере 1zz. 
                        p Если сотрудничество одностороннее, то при закрытии заявки исполнителю начисляется 1zz. При бартере (услуга за услугу) оплата не взимается. 
                        h5.text-bold Как использовать внутреннюю валюту
                        p zz дает практически безграничные возможности использования сервиса: 
                        ul 
                            li покупка дополнительных услуг
                            li поднятие заявки в рейтинге
                            li оплата заявки 
                            li отклик на понравившиеся поручения
                            li покупка VIP-статуса
                            li открытие новых миссий
                            li принятие участия в розыгрышах и конкурсах от Elzzup и др. 
                        h5.text-bold Как получить 1zz
                        p 1zz = 40 руб. 
                        p Чтобы получить 1zz, вовсе не обязательно их покупать. Выполняйте миссии, прокачивайте профиль и зарабатывайте внутреннюю валюту. 
                        h5.text-bold Как получить дополнительные zz?
                        p Все просто! На сайте предусмотрено несколько способов получить валюту для оплаты заданий.
                        ol
                            li Заполнение анкеты
                                | Чем подробнее заполните свою анкету, тем больше zz вам будет начислено. 
                            li Прохождение миссий
                                | С их помощью вы сможете заработать zz, а также подробнее ознакомиться с проектом. 
                            li Выполнение заявок
                                | За успешное закрытие каждой заявки исполнитель получает оплату – 1zz. Исключение составляют заявки, предусматривающие бартер.
            include chunks/footer.pug
        script(src="./js/util.js")
        script(src="./js/tab.js")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")