html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Payment Page

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        .content
            include chunks/header.pug
            main.content__inside
                .wrap-fluid.wrap_cabinet
                    .line
                        .column-12.column-xl-3.column-lg-4.column-md-5.cabinet-sidebar
                            include chunks/cabinet-sidebar.pug
                        .column-12.column-xl-9.column-lg-8.column-md-7.cabinet-content
                            .cabinet-block.cabinet-block--last
                                form.form
                                    .form-group.form-group_line
                                        .column.column-6.column-xl-5
                                            input.form-input.form-input_field(type="text" placeholder="Укажите сумму пополнения")
                                        .column.column-6.column-xl-5
                                            input.form-input.form-input_field(type="text" placeholder="Результат конвертации")
                                        .column.column-12.column-xl-2
                                            a.btn.btn_cta.btn_large.btn_fullwidth(href="#") Пополнить
                                    p.text-small.text-grey Текущий курс обмена 1 руб. = 12 ZZ
                            a.message.message_alert(href="#")
                                .message__data 12 сент 2019 
                                .message__name + 100 ZZ
                                .message__introtext пополнение счета
                            a.message.message_alert(href="#")
                                .message__data 12 сент 2019 
                                .message__name - 12 ZZ
                                .message__introtext оплата заявки
            include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")