.cabinet-info{
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
    
    background: $white;
    border-bottom: 1px solid $grey;
    
    padding: 30px 0 20px;
    margin-bottom: 10px;
    
    .cabinet-info__pay{
        position: absolute;
        width: 40px;
        height: 40px;
        background: linear-gradient(180deg, #00F3D4 0%, #02A5AE 100%);
        border-radius: 20px;
        padding: 10px 12px;
        .svg{
            width: 16px;
            height: 19px;
        }
    }    
    .cabinet-info__name{
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;

        & + .cabinet-info__bio{
            margin-top: 15px;
        }
    }
    .cabinet-info__bio{
        & + .btn{
            margin-top: 15px;
        }
    }
    .btn{
        padding: 2px 6px;
        margin-bottom: 5px;
    }

    .cabinet-info__label{
        font-size: 8px;
        line-height: 1;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .cabinet-info__value{
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
        white-space: nowrap;
    }

    &_full{
        .cabinet-info__image{
            position: relative;
            flex: 0 0 140px;
            .cabinet-info__pay{
                top: 60px;
                left: 20px;
            }
        }
        .cabinet-info__data{
            flex: 0 0 calc(100% - 140px);
            padding-left: 0;
        }
    }
}