.cabinet-info{
    position: relative;
    max-width: 100%;
    
    background: $white;
    border-bottom: 1px solid $border-color;
    
    padding: 30px 20px 20px;
    margin-bottom: 10px;
    // column
    .cabinet-info__image{
        flex: 0 0 100px;
    }
    .cabinet-info__data{
        flex: 0 0 calc(100% - 100px);
        padding-left: 0;
        overflow-x: hidden;      
    }
    // elements
    .cabinet-info__photo{
        border-radius: 50%;
        background-color: $body-bg;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        width: 60px;
        height: 60px;
    }
    .cabinet-info__pay{
        position: absolute;
        width: 50px;
        height: 50px;
        background: linear-gradient(180deg, #00F3D4 0%, #02A5AE 100%);
        border-radius: 25px;
        padding: 15px 17px;

        right: 0px;
        bottom: -20px;
        z-index: 11;
        .svg{
            width: 16px;
            height: 19px;
        }
    }    
    .cabinet-info__name{
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;

        & + .cabinet-info__bio{
            margin-top: 15px;
        }
    }
    .cabinet-info__bio{
        & + .btn{
            margin-top: 15px;
        }
    }
    .cabinet-info-label{
        margin-top: 15px;
    }
    .btn{
        padding: 2px 6px;
        margin-bottom: 6px;
        font-size: 12px;
    }
    // start page
    &_full{
        .cabinet-info__image{
            position: relative;
            flex: 0 0 140px;
            max-width: 100%;
            .cabinet-info__pay{
                top: 70px;
                left: 20px;
            }
        }
        .cabinet-info__photo{
            width: 90px;
            height: 90px;
        }
        .cabinet-info__data{
            flex: 0 0 calc(100% - 140px);
            max-width: 100%;
        }
    }
}
.cabinet-info-label{
    font-size: 8px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;
    & + .cabinet-info-value{
        margin-top: 5px;
    }
}
.cabinet-info-value{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    white-space: nowrap;
    & + .cabinet-info-label{
        margin-top: 5px;
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'sm')){
    .cabinet-info{
        // elements
        .cabinet-info__pay{
            right: 20px;
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .cabinet-info{
        // padding: 20px;
        margin: 20px 0 0;
        border: 1px solid $border-color;
        border-bottom: 0;
        .cabinet-info__pay{
            right: -10px;
        }
        &_full{
            & > .line{
                max-width: 230px;
                margin: 0 auto;
            }
            .cabinet-info__image{
                flex: 0 0 100%;
                margin-bottom: 20px;
                .cabinet-info__pay{
                    top: 0;
                    left: 20px;
                }
            }
            .cabinet-info__photo{
                width: 190px;
                height: 190px;
            }
            .cabinet-info__data{
                flex: 0 0 100%;
                padding-left: 20px;
                overflow-x: hidden;      
            }
        }
        .btn{
            padding: 6px 12px;
        }
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    .cabinet-info{
        &_full{
            & > .line{
                max-width: calc(100% + 40px);
                margin-left: -20px;
                margin-right: -20px;
            }
        }
    }
}