.message{
    position: relative;

    background: $white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
    display: block;

    padding: 16px 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    // column
    .message__row{
        & + .message__row{
            margin-top: 30px;
        }
        &_answer{
            justify-content: flex-end;
            .message__info{
                padding-left: 20px;
                padding-right: 0;
            }
            .message__name,
            .message__data,
            .message__item{
                margin-left: auto;
            }
        }
    }
    .message__image{
        flex: 0 0 100px;
        .image{            
            border-radius: 50%;
            background-color: $body-bg;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            display: block;
            width: 60px;
            height: 60px;
        }
        .no-image{
            display: block;
            overflow: hidden;

            width: 60px;
            height: 60px;
            border-radius: 100%;
            
            background: $light-blue;
            color: $blue;

            font-size: 24px;
            font-weight: bold;
            line-height: 60px;
            text-align: center;
        }
    }
    .message__info{
        flex: 0 0 calc(100% - 100px);
        padding-left: 0;
        position: relative;
        .message__data{
            // position: absolute;
            // top: 6px;
            // right: 20px;
            margin-bottom: 10px;
            line-height: 1;
        }
    }
    // elements
    .message__data{
        font-size: 10px;
        color: $dark-grey;
        max-width: 640px;
    }
    .message__alert{
        position: absolute;
        left: 0;
        bottom: 0;

        background: $red;
        color: $white;

        font-weight: bold;
        line-height: 1;

        border-radius: 0 2px 0 0;
        padding: 4px 10px;
    }
    .message__name{
        color: $black;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 6px;
        max-width: 640px;
    }
    .message__introtext{
        color: $dark-grey;
    }
    .message__task-name{
        font-size: 12px;
        color: $grey;
        margin-top: 10px;
    }
    .message__item{
        padding: 10px;
        background: $body-bg;
        max-width: 640px;
        
        & + .message__item{
            margin-top: 20px;
        }
    }
    
    &:hover{
        text-decoration: none;
    }

    & + .message{
        margin-top: 0;
    }

    &_inside{
        background: $white;
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;
        box-shadow: none;
        padding: 20px;
        margin: 0 -20px;
        
        .message__name{
            margin-bottom: 0;
        }
        .message__data{
            margin-top: 14px;
            margin-bottom: 14px;
        }
        .message__row{
            .message__info{
                .message__data{
                    position: unset;
                    margin-bottom: 10px;
                }
            }
        }
    }
    &_alert{
        padding: 16px;
        .message__data{
            line-height: 1;
            margin-bottom: 10px;
        }

        &_viewed{
            .message__name,
            .message__introtext{
                color: $grey;
            }
        }
    }
}
.message-answer{
    width: calc(100% + 40px);
    margin: 0 -20px;

    background: $white;
    border-top: 1px solid $light-grey;

    .btn.btn_message{
        height: 100%;
        width: 40px;
        background-size: 30px;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.message-read-all{
    font-weight: bold;
    font-size: 12px;

    color: $blue3;
    background-color: $light-blue;
    border-radius: 4px;
    padding: 4px 10px;

    text-align: center;

    margin-top: 10px;

    &:hover{
        color: $black;
        text-decoration: none;
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'sm')){
    .message{
        .message__name{
            font-size: 14px;
            padding-right: 100px;
        }
        .message__info{
            .message__data{
                position: absolute;
                top: 6px;
                right: 20px;
                margin-bottom: 0;
            }
        }
        &_alert{
            .message__data{
                position: absolute;
                top: 16px;
                right: 20px;
                margin-bottom: 0;
            }
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .message{
        &_inside{
            margin: 0;
        }
    }
    .message-answer{
        margin: 0;
        width: 100%;
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'lg')){
    .message{
        padding: 16px 40px;
        
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'xl')){
    .message{
        &_inside{
            padding: 20px;
        }
        &_alert{
            .message__data{
                right: 40px;
            }
        }
    }
    .message-read-all{
        margin-top: 0;
    }
    .wrap_cabinet{
        .message{
            &_inside{
                padding: 20px 40px;
            }
        }
        .textarea_message {
            padding: 20px 40px;
        }
    }
    .message-answer{
        position: unset;
        border: 1px solid $border-color;
    }
    .form{
        .message-answer{
            position: relative;
        }
    }
}