.cabinet-navigation{
    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    overflow-x: auto;
    padding: 20px 0;

    .cabinet-navigation__link{
        text-align: center;

        .icon{
            position: relative;

            width: 50px;
            height: 50px;

            margin: 0 auto;

            & + .title{
                margin-top: 10px;
            }
        }
        .title{
            font-size: 10px;
            line-height: 1;
            white-space: nowrap;
        }
        .alert{
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateX(50%);

            background: $red;
            color: $white;

            font-weight: bold;
            line-height: 1;

            border-radius: 2px;
            padding: 2px 6px;
        }
        &.cabinet-navigation__link--active{
            .icon{
                background: $black;
                .path{
                    fill: $white;
                }
            }
        }
        &:hover{
            text-decoration: none;
        }
        & + .cabinet-navigation__link{
            margin-left: 25px;
        }
        &.cabinet-navigation__link_last{
            margin-right: 20px;
        }
    }

    .btn{
        white-space: nowrap;
    }
}
.cabinet-navigation-scroll{
    overflow-x: hidden;
    max-width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;

    background: $white;
    border-bottom: 1px solid $border-color;
}
@media all and (min-width: map-get($grid-breakpoints, 'sm')){
    .cabinet-navigation{
        justify-content: space-around;
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .cabinet-navigation{
        flex-wrap: wrap;
        padding: 20px 0;

        .cabinet-navigation__link{
            width: 100%;
            text-align: left;

            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;

            .icon{
                margin: 0 20px 0 0px;
                width: 30px;
                height: 30px;

                svg{
                    width: 14px;
                }

                & + .title{
                    margin: 0;
                }
            }
            .title{
                font-size: 12px;
                font-weight: bold;
                margin: 0;
            }
            .alert{
                font-size: 10px;
            }

            & + .cabinet-navigation__link {
                margin-top: 15px;
                margin-left: 0px;
            }
        }
    }
    .cabinet-navigation-scroll{
        border: 1px solid $border-color;
        margin: 0 0 20px;
    }
}