.cabinet-task{
    position: relative;
    width: 100%;
    padding: 20px;
    background: $white;
    border-bottom: 1px solid $border-color;
    .cabinet-task__title{
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 6px;
        padding-right: 40px;
    }
    .cabinet-task__offer{
        color: $dark-grey;
        font-size: 12px;
    }
    .cabinet-task__reward{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size:24px;
        line-height: 1;
        font-weight: bold;
        color: $red;
    }

    // Create Task
    .cabinet-task__category{
        position: relative;
        flex: 0 0 calc(100% - 90px);
        max-width: calc(100% - 90px);
        &.cabinet-task__category_choose{
            flex: 0 0 calc(100% - 180px);
            max-width: calc(100% - 180px);
            padding: 0 10px;
        }
    }
    .cabinet-task__icon{
        background: $body-bg;
        flex: 0 0 60px;
        max-width: 60px;
        width: 60px;
        height: 60px;
        border-radius: 100%;

        &_camera{background: $body-bg url("../img/camera.svg") no-repeat center / 32px;}
        &_plate{background: $body-bg url("../img/plate.svg") no-repeat center / 32px;}
        &_travel{background: $body-bg url("../img/travel.svg") no-repeat center / 32px;}
        &_box{background: $body-bg url("../img/box.svg") no-repeat center / 26px;}
        &_hand{background: $body-bg url("../img/hand.svg") no-repeat center / 32px;}
        &_gift{background: $body-bg url("../img/gift.svg") no-repeat center / 28px;}
        &_mask{background: $body-bg url("../img/mask.svg") no-repeat center / 28px;}
        &_heart{background: $body-bg url("../img/heart.svg") no-repeat center / 28px;}
    }
    .cabinet-task__info{
        background: $black;
        color: $white;

        font-weight: bold;
        line-height: 18px;

        text-align: center;
        width: 18px;
        border-radius: 100%;

        position: absolute;
        right: 0;
        top: 0;
    }

    &_locked{
        .cabinet-task__reward{
            color: $grey;
        }
    }
    &_category{
        // margin: 0 -20px;
        // width: calc(100% + 40px);
    }
}

.container_cabinet-task{
    margin: 0 -20px;
    padding: 0;
    width: calc(100% + 40px);

    .col-6:nth-child(2n){
        .cabinet-task{
            border-left: 1px solid $border-color;
        }
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .container_cabinet-task{
        margin: 0;
        width: 100%;
        border: 1px solid $border-color;
        border-bottom: none;
    }
    .cabinet-task{
        &_category{
            margin: 0;
            padding: 10px 20px;
            width: 100%;
        }
    }
}